# macos directory info files
.DS_Store

# Backup versions of files
*.bak

# Unclean patches
*.orig
*.rej

# Untrack of local tmp and log files
log/
tmp/
web/sites/Log/
web/tmp/

# Untrack of local history files
.history/

# Untrack of htaccess file
.htaccess