
@import (reference) 'mixin';

/*-- ABOUT US --*/
.page-node-127{
    #block-block-170{
        /* MOBILE BACKGROUND */
        @media @larger-phone-width-down{
            background-image: url(http://localhost/sites/default/files/ABOUT%20US/ABOUT-US-MOBILE.jpg)!important;
            -webkit-background-size: 100%!important;
            -moz-background-size: 100%!important;
            -o-background-size: 100%!important;
            background-size: cover!important;
            background-position: 50% 0% !important;
            background-repeat: no-repeat;
        }

        .content{
            background: rgba(0,0,0,0.15);
        }
        .top-banner{
            padding: 200px 25% 4%;
            @media @desktop-width-down {
                padding: 100px 25% 4%;
            }
            .page-main-header{
                color: #fff;
                font-family: Cairo;
                font-size: 4em;
                margin: 0px auto;
                line-height: 1em;
                text-transform: uppercase;
            }
            .separator{
                width: 100%;
                position: relative;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0;
                margin: 20px 0;
                &:after{
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 20px;
                    background: #fff;
                }
            }
            .text-container{
                font-family: Roboto;
                color: #fff;
                font-size: 1.4em;
                font-weight: 300;
                text-align: left;
            }
            .arrowDown{
                border: 1px #fff solid;
                transform: scale(0.7);
                margin: 25px auto 15px;
            }
            @media all and (max-width: @larger-tablet-width){
                padding: 50px 15% 2%;
            }
            @media all and (max-width: @larger-phone-width){
                padding: 150px 10% 2%;
                .page-main-header{
                    font-size: 3em;
                }
                .text-container{
                    font-size: 1.2em;
                }
            }
        }
    }  

    #block-block-170{
        .sub-top-banner{
            padding: 20px 0;
            margin: 0 auto;
            background: rgba(0, 159, 218, 0.9);
            font-family: Roboto;
            color: #fff;
            font-size: 2em;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 30px 0;
        }
        @media all and (max-width: @larger-phone-width){
            .sub-top-banner{
                padding: 25px 25px;
                font-size: 1.7em;
                background: rgba(0,159,218,1);
            }
            background-attachment: unset;
                .top-banner{
                    .separator{
                        margin: 10px 0;
                    }
                    .page-main-header{
                        font-size: 2.5em;
                    }
                }
        }
    }

    #section-main-content{
        margin: 80px 0 40px;
        .dexp-shortcodes-box{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 50px;
            &:hover{
                .box-icon{
                    background: @bright-blue;
                    &:before{
                        top: calc(~"-50% - 15px");
                        opacity: 0;
                    }
                    &:after{
                        top: calc(~"50% - 15px");
                        opacity: 1;
                    }
                }
            }
            .box-icon{
                float: none;
                display: flex;
                justify-content: center;
                width: 60px;
                min-width: 60px;
                height: 60px;
                background: #fff;
                border-radius: 100%;
                border: 1px solid #009fda;
                transition: 0.2s linear;
                &:before{
                    content: '';
                    position: absolute;
                    top: calc(~"50% - 15px");
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    opacity: 1;
                    transition: 0.2s linear;
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: calc(~"150% - 15px");
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    opacity: 0;
                    transition: 0.2s linear;
                }
                /* ICONS */
                &.history{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/history-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/history-W.png);
                    }
                }
                &.strategicPlan{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/strategic-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/strategic-W.png);
                    }
                }
                &.annualReports{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/annual-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/annual-W.png);
                    }
                }
                &.governance{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/governance-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/governance-W.png);
                    }
                }
                &.workWithUs{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/partners-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/partners-W.png);
                    }
                }
                &.theAPATeam{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/team-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/team-W.png);
                    }
                }
                &.awardsRecognition{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/award-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/award-W.png);
                    }
                }
                &.reconciliation{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/reconciliation-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/reconciliation-W.png);
                    }
                }
                &.internationalConnections{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/international-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/international-W.png);
                    }
                }
                &.study-physio{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/study-physio-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/study-physio-W.png);
                    }
                }
                &.work-in-oz{
                    &:before{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/work-in-oz-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/ABOUT%20US/about-us-icon/work-in-oz-W.png);
                    }
                }
            }
            .box-title{
                margin: 10px 0;
                font-size: 1.6em;
                font-weight: 600;
                font-family: Roboto!important;
                text-align: center;
            }
            .box-content{
                text-align: center;
                margin: 10px 0;
                p{
                    font-size: 1.4em;
                }
            }
        }
    }
    #section-main-content{
        #about-us-features{
            display: flex;
            flex-wrap: wrap;
        }
        .dexp-shortcodes-box{
            p{
                margin: 0;
            }
            .box-content{
                .dexp-shortcodes-button{
                    font-size: 0;
                    background: none!important;
                    border: 0px solid #009fda;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    &:hover{
                        background: none!important;
                        border: 0px solid #009fda!important;
                    }
                }
            }  
        }
        @media all and (max-width: @tablet-width + 1px) {
            .dexp-shortcodes-box{
                padding: 15px 30px;
            }
        }
        @media all and (max-width: @larger-phone-width) {
            .dexp-shortcodes-box{
                padding: 5px 20px 15px;
                border-bottom: 1px solid #e7e8e9; 
                margin: 0 10px;
            }
        }
    }
    #section-ad-block{
        background: #fff!important;
    }
}

/* ABOUT US - ANNUAL REPORTS */
.page-node-138{
    #block-block-237{
        min-height: 60vh;
        overflow: hidden;
        @media all and (max-width: @larger-tablet-width) {
            background-position: 63% 0px !important;
        }

        .img-parallax {
            width: 100vmax;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,0);
            pointer-events: none;
            @media @larger-phone-width-down{
                width: 150vw;
            }
        }
    }

    /* IPAD SCREEN */
    @media @tablet-width-down{
        #block-system-main .content .node .post-content{
            padding-top: 0;
        }
    }
}


/* ABOUT US - APA TEAM */
.page-node-149{
    /* BANNER */
    #section-banner .region-banner > div{
        min-height: 500px;
        @media @desktop-width-down {
            min-height: 400px
        }
        @media @tablet-width-down {
            min-height: 300px
        }
        @media @larger-phone-width-down {
            min-height: 200px
        }
    }
    .border-10{
        border-bottom: 10px solid #e7e8ea;
    }

    /* RIGHT SIDEBAR */
    #block-system-main .right-sidebar{
        position: relative;
          .underline-heading{
            position: relative;
            font-family: Cairo;
            font-size: 1.4em;
            text-transform: uppercase;
            &:after{
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                background: @bright-blue;
                left: 0;
                bottom: -5px;
            }
          }
          .nav{
              margin-top: 30px;
              max-width: 230px;
              li{
                  a{
                    padding: 10px 0;
                    border-top: 1px solid rgba(0,0,0,0.1);
                    color: #5e6067;
                    font-weight: 500;
                    font-family: Roboto;
                    transition: all .3s linear;
                    &:hover{
                        color: @bright-blue;
                    }
                  }
                  &:first-child{
                    a{
                        border-top: 0px;
                    }
                }
                  &:last-child{
                      a{
                          border-bottom: 1px solid rgba(0,0,0,0.1);
                      }
                  }
              }
          }

        @media all and (max-width: @tablet-width) {
            display: none;
        }
      }

      /* MAIN CONTENT */
      #block-system-main .left-content{
          h2.lead-heading{
            font-size: 3em;
            line-height: 1.1em;
            display: block;
            padding-bottom: 0.8em;
            font-weight: 500;
          }
          p{
            font-size: 1.4em;
            padding-bottom: 20px;
            display: block;
            line-height: 1.4em;
          }
      }

      #node-149 #prev-btn{
          display: none;
      }

      /* THE APA TEAM */
      #block-block-312{
        background: #e7e8e9!important;
        padding-bottom: 50px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
		.media_filter{
            margin: 40px 0 50px;
			ul{
				display: flex;
				justify-content: center;
				li{
					min-width: 200px;
					text-align: center;
					border: 0.5px #c0c2c4 solid;
					border-right: 0px;
                    margin: 0;
                    cursor: pointer;
					&:last-of-type{
						border-right: 0.5px #c0c2c4 solid;
					}
					a{
						color: #333;
						font-weight: 500;
					}
					&:hover{
						background: @bright-blue;
						a{
							color: #fff;
						}
					}
					&.active{
						background: @bright-blue;
						a{
							color: #fff;
						}
					}
				}
			}
        }
        
        div[id*="apateammember-block"], #apateammember-block{
            .node-apateam{
                position: relative;
                .item-description{
                    .member-header{
                        .member-name{
                            color: #333;
                            font-size: 1.2em;
                            margin: 25px 0 0 0;
                            font-weight: 600;
                            font-family: Roboto;
                            a{
                                color: #000;
                                transition: all .2s linear;
                            }
                        }
                        .member-title{
                            margin: 5px 0 10px;
                            font-weight: 300;
                            font-family: Roboto;
                            color: #333;
                            font-size: 1.2em;
                        }
                    }
                    .separater{
                        margin: 20px 0 15px;
                        display: block;
                        height: 1px;
                        width: 90%;
                        background: rgba(0,0,0,0.1);
                    }
                }
                .block-cover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        & + .block-container{
                            .item-description .member-header{
                                .member-name{
                                    a{
                                        color: @bright-blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
      }
}

/* MEMBER SINGLE PAGE */
.node-type-apateam{
    .page-node-149;
    .left-content{
        p{
            font-size: 1.2em;
        }
    }

    /* RELATED MEMBERS */
    #related-members{
        background: #e7e8e9 !important;
        padding-bottom: 50px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        .lead-heading{
            font-size: 2.4em;
            color: @bright-blue;
            margin-top: 50px;
            font-family: Roboto;
        }
        #apateammember-block{
            .page-node-149 #block-block-312 #apateammember-block;
            .node-apateam{
                .item-description{
                    .separater{
                        margin: 20px 0px;
                    }
                }
            }
        }
    }

    /* MEMBER BODY CONTENT */
    .teaminfo{
        .page-node-149 #block-block-312 #apateammember-block .node-apateam .item-description;
        .description{
            margin: -25px 0;
        }
    }

    /* BACK TO PREVIOUS */
    #prev-btn{
        margin: -50px 0 80px 0;
        a{
            color: #5c6067;
            font-size: 1.2em;
            padding: 0;
            text-decoration: underline;
            &:hover{
                color: @bright-blue;
            }
        }
    }
}

/* ANNUAL REPORTS */
.page-node-138{
    .page-node-149;

    /* BACK TO PREVIOUS */
    #prev-btn{
        .node-type-apateam #prev-btn;
        margin: 30px 0 50px;
        border-top: 1px solid rgba(0,0,0,0.12);
        padding-top: 30px;
    }

    .left-content{
    /* REPORT GRID */
        .brochure-grid{
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;
            .item{
                max-width: 31%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0px 0px 5% 0;
                position: relative;
                opacity: 1;
                transition: .3s ease-in-out;
                @media @larger-phone-width-down{
                    max-width: 48%;
                }
                .brochure-cover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .bruchure-title{
                    align-self: flex-start;
                    color: @bright-blue;
                    text-decoration: underline;
                    margin-top: 15px;
                    font-size: 1.1em;
                    font-weight: 300;
                }
                &.faded{
                    opacity: 0.6;
                }
            }
        }
    }
}

    /* RIGHT SIDEBAR ACTIVE URL */
    .nav{
        .active{
            a{
                color: @bright-blue!important;
            }
        }
    }

/* AWARDS & RECOGNITION */
.page-node-141{
    .page-node-149;

    /* BANNER */
    #block-block-315{
        min-height: 400px;
    }
    /* MAIN CONTENT */
    #block-system-main{
        .left-content{
            h2.lead-heading{
                padding-bottom: 0;
            }
            .sub-heading{
                color: @bright-blue;
                font-size: 1.8em;
                font-family: Roboto;
                font-weight: 700;
                padding-top: 20px;
            }
            .intro{
                font-size: 1.6em;
            }
            p{
                font-size: 1.2em;
                padding-bottom: 0;
                & > strong{
                    font-size: 1em;
                }
            }
            ul.custom-list{
                padding-left: 15px;
                color: #000;
            }
            a{
                text-decoration: underline;
                color: @bright-blue;
            }
            strong{
                font-size: 1em;
                color: #333;
            }
            .dark-url{
                color: #000;
                font-weight: 500;
                &:hover{
                    color: @bright-blue;
                }
                strong{
                    font-size: 1em;
                }
            }
            .featured-img{
                padding: 40px 0 20px;
                width: 100%!important;
                height: auto!important;
            }

            /* BACK TO PREVIOUS */
            #prev-btn{
                margin: 80px 0 0px;
                padding-top: 20px;
                border-top: 1px solid rgba(0,0,0,0.12);
                a{
                    color: #5c6067;
                    font-size: 1.2em;
                    padding: 0;
                    text-decoration: underline;
                    &:hover{
                        color: @bright-blue;
                    }
                }
            }
        }
    }
}

/* APA PARTNERS */
.page-node-241{
    .page-node-141;
    #block-system-main{
        #node-241{
            padding-top: 50px;
            h2.lead-heading{
                margin-top: 0;
            }
        }
        .sub-heading {
            color: #009fda;
            font-size: 1.8em;
            font-family: Roboto;
            font-weight: 700;
            padding-top: 20px;
        }
        p{
            font-size: 1.2em;
            padding-bottom: 0;
        }
        a.dark-text{
            color: #000;
            &:hover{
                color: @bright-blue;
            }
        }
    }
    /* BANNER */
    #section-banner{
        #block-block-246{
            display: flex;
            justify-content: center;
            align-items: center;
            .header-banner h1 {
                font-family: Roboto;
                font-weight: 400;
                text-transform: uppercase;
                color: #fff;
                font-size: 5em;
                line-height: 1em;
                @media @larger-phone-width-down {
                    font-size: 3em;
                }
            }
            .img-parallax{
                @media @desktop-width-down{
                    margin-top: 50px;
                }
                @media @larger-phone-width-down {
                    margin-top: 0px;
                }
            }
        }
    }

    /* PARTNER LOGOS */
    #partners-info{
        .page-node-149 #block-block-312;
        padding-left: 0;
        padding-right: 0;
        background: #fff !important;
        width: 100%;
        position: relative;
        left: unset;
        right: unset;
        margin-left: 0;
        margin-right: 0;
        margin: 60px 0 10px;
        .media_filter{
            margin: 40px 0 30px;
        }
        .node-partners{
            position: relative;
            display: flex;
            justify-content: center;
            &:hover{
                .MonlyIconHolder{
                    .MonlyIcon{
                        background-position: 0 0px;
                    }
                }
            }
            .MonlyIconHolder {
                position: absolute;
                top: 0;
                left: 0;
                float: right;
                width: 20px;
                height: 20px;
                overflow: hidden;
                margin: 5px;
                .MonlyIcon {
                    background-image: url('/sites/default/files/MEMBER ICON.png');
                    background-position: 0 40px;
                    width: 20px;
                    height: 20px;
                }
            }
            a[popup-target], a[data-target]{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    /* RIGHT SIDEBAR */
    .right-sidebar{
        .sidebar-feature{
            background: #f0f1f3;
            padding: 40px 30px;
            margin-top: 50px;
            .feature-sidebar-img{
                box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
            }
            .feature-sidebar-sub-heading{
                font-size: 1.7em;
                font-weight: 700;
                color: @bright-blue;
                text-align: center;
                display: block;
                margin: 50px 0 20px;
            }
        }
    }
}

/* BOTTOM CONTACT DETAILS */
.page-node-241{
    .contact-details{
        margin-bottom: 70px;
        .contact-block:first-of-type{
            margin: 25px 0 35px;
        }
        p{
            margin-bottom: 20px !important;
        }
    }
}

/* PARTNER DETAILS POPUP */
@import (reference) 'popups';
.PartnersDetail{
    .medium-popup;
    .close-popup{
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        &:before, &:after{
            background: #fff;
        }
    }
    .modal-header{
        background: @bright-blue;
        height: 50px;
        border-bottom: 0;
    }
    .modal-body{
        max-height: 450px;
        padding-bottom: 0;
        .modal-title{
            margin: 30px 0 15px;
            color: @bright-blue;
            font-size: 1.8em;
            text-transform: capitalize;
        }
        .ckeditor-accordion-container > dl{
            border: 0;
            dt{
                margin-bottom: 2px;
                background-color: #f0f1f3;
                &.active{
                    margin-bottom: 0;
                }
            }
            dd{
                border: 2px solid #f0f1f3;
                border-top: 0;
                margin-bottom: 10px;
            }
            dt > .ckeditor-accordion-toggle{
                width: 30px;
                height: 30px;
                top: calc(~'50% - 15px');
                left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 9;
                &:before, &:after{
                    top: unset;
                    left: unset;
                    background: none;
                }
                &:before{
                    border: 1px solid #333;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                }
                &:after{
                    transform: rotate(-45deg);
                    width: 6px;
                    height: 6px;
                    border-bottom: 1px solid;
                    border-right: 1px solid;
                    transition: 0.3s linear;           
                }
            }
            dt.active > .ckeditor-accordion-toggle{
                &:after{
                    transform: rotate(45deg);
                    left: 12px;
                }
            }
        }
        .ckeditor-accordion-container > dl dt > a{
            background: none;
            color: #333;
            border-bottom: 0;
            font-size: 1.2em;
            padding: 15px 15px 15px 50px;
            position: relative;
            z-index: 10;
        }
    }
    .modal-footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border: 0;
        padding-top: 0;
        .partner-address{
            font-size: 1em;
            font-weight: 900;
            color: @bright-blue;
        }
        .partner-logo{
            img{
                margin-bottom: -25px;
                max-height: 150px;
                width: auto;
            }
        }
    }
}

/* GOVERNANCE */
.page-node-139{
    .page-node-141;

    /* BANNER */
    #block-block-175{
        .img-parallax{
            margin-top: 140px;
            @media @larger-tablet-width-down {
                margin-top: 100px;
            }
            @media @larger-phone-width-down {
                margin-top: 50px;
            }
        }
    }

    /* RIGHT SIDEBAR */
    .right-sidebar{
        #block-block-311{
            margin-bottom: 50px;
        }
    }

    /* MAIN CONTENT */
    #block-system-main{
        .left-content{
            h2.lead-heading{
                padding-bottom: 30px;
            }
            .intro{
                padding-bottom: 20px;
            }
            .dark-url{
                strong{
                    font-size: 1em;
                }
                &:hover{
                    color: @bright-blue;
                }
            }
        }
    }
}

/* HISTORY */
.page-node-133{
    .page-node-141;

    /* BANNER */
    #block-block-173{
        .img-parallax{
            margin-top: 150px;
            @media @tablet-width-down{
                margin-top: 100px;
            }
            @media @larger-phone-width-down{
                display: none;
            }
        }
    }

    /* MAIN CONTENT */
    #block-system-main{
        .left-content{
            h2.lead-heading{
                padding-bottom: 30px;
            }
            .intro{
                padding-bottom: 20px;
            }
            .dark-url{
                strong{
                    font-size: 1em;
                }
                &:hover{
                    color: @bright-blue;
                }
            }
            .primary-highlight{
                color: @bright-blue;
                font-weight: 500;
            }
            .ful-width-text-overlay{
                background-image: url('/sites/default/files/ABOUT US/history-2-1500x800.jpg');
                min-height: 400px;
                margin: 50px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                @media @tablet-width-down{
                    min-height: 300px;
                }
                @media @larger-phone-width-down{
                    min-height: 200px;
                }
                span{
                    width: 80%;
                    display: block;
                    margin: 0 auto;
                    color: rgba(255,255,255,0.9);
                    font-size: 2.5em;
                    font-family: Cairo;
                    font-weight: 300;
                    text-align: center;
                    @media @larger-phone-width-down{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

/* INTERNATIONAL CONNECTIONS */
.page-node-145{
    .page-node-133;

    /* MAIN CONTENT */
    #block-system-main{
        .left-content{
            .representative{
                margin-top: 20px;
                p{
                    display: flex;
                    margin-top: 15px;
                    .left-one-third{
                        width: 30%;
                        font-weight: 500;
                    }
                    .right-two-third{
                        width: 70%;
                    }
                    @media @larger-phone-width-down{
                        flex-direction: column;
                        .left-one-third{
                            width: 100%;
                        }
                        .right-two-third{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* RECONCILIATION */
.page-node-143{
    .page-node-133;
}

/* STRATEGIC PLAN */
.page-node-137{
    .page-node-133;

    /* BANNER */
    #block-block-174{
        .img-parallax{
            @media @desktop-width-down {
                margin-top: 70px;
            }
            @media @larger-phone-width-down {
                margin-top: 40px;
            }
        }
    }

    /* MAIN CONTENT */
    #block-system-main{
        .left-content{
            .primary{
                color: @bright-blue;
                margin-top: 10px;
                strong{
                    color: @bright-blue;
                }
            }
            .one-third-content{
                padding-top: 40px;
                .flex-col-8{
                    padding-left: 25px;
                }
                .featured-img{
                    padding-top: 0;
                    width: 100%!important;
                    height: auto!important;
                }
                @media @larger-phone-width-down{
                    padding-top: 0;
                    flex-direction: column;
                    [class^="flex-col"]{
                        width: 100%;
                        padding: 0;
                    }
                }
            }
            .half-content{
                img{
                    max-height: 460px;
                }
                .flex-col-6:nth-child(2){
                    text-align: center;
                }
                @media @larger-phone-width-down{
                    flex-direction: column;
                    [class^="flex-col"]{
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
    }
}

/* STUDYING PHYSIOTHERAPY */
.page-node-574{
    .page-node-133;
}

/* WORKING IN AUSTRALIA */
.page-node-144{
    .page-node-133;
}