/*--PREDEFINED COLOURS--*/
@light-background: rgb(242, 243, 244);
@light-transparent-background: rgba(255, 255, 255, 0.9);
@dark-background: rgb(94, 96, 103);
@dark-transparent-background: rgba(94, 96, 103, 0.8);
@bright-blue: rgb(0, 159, 218);
@brighter-blue: rgb(0,184,241);

/*--RESPONSIVE BREAKPOINTS--*/
@phone-width: 480px;
@larger-phone-width: 570px;
@tablet-width: 768px;
@larger-tablet-width: 992px;
@desktop-width: 1200px;
@larger-desktop-width: 1500px;

/*--HOMEPAGE--*/

.page-node-356{
    #section-content-bottom-second{
        background-color: unset!important;
    }
}

div[id^="home-tile-view-block"]{
    &.dexp-grid-items{
        .node-home-news-tiles{
            margin-bottom: 30px;
            .portfolio-image{
                img{
                    width: 100%;
                    max-height: 175px;
                }
            }
            .item-description{
                height: 183px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 15px;
                h5{
                    a{
                        color: black;
                        font-size: 1.65em;
                        line-height: 1.1em;
                        font-weight: 300;
                        br{
                            display: none;
                        }
                    }
                }
                .description{
                    display: flex;
                    vertical-align: bottom;
                    align-items: flex-end;
                    .NextIconHolder{
                        order: 2;
                    }
                    .MonlyIconHolder{
                        margin-left: auto;
                    }
                }
            }
        }
    }
}


#section-banner{
    .dexp-container{
        .region{
            .home-main-grid{
                .main-block{
                        .node{
                            .HomeTitle{
                                font-size: 2.5em!important;
                                line-height: 1.1em;
                                padding: 0 30px 30px 30px!important;
                                min-height: 40%!important;
                            }
                        }
                }
                .image-grid{
                    #node-377{
                        width: 100%;
                        height: 100%;
                        padding-bottom: 57.8%;
                    }
                    img{
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .image{
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .node{
                        position: relative;
                        .HomeTitle{
                            position: absolute;
                            bottom: 0;
                            height: auto;
                            width: 100%;
                            color: #fff;
                            font-size: 2em;
                            display: flex;
                            justify-content: flex-start;
                            font-family: Cairo;
                            align-items: flex-end;
                            background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(255,255,255,0));
                            font-weight: 600;
                            font-size: 1.3em;
                            line-height: 1.1em;
                            min-height: 55%;
                            padding: 0 20px 20px 20px;
                        }
                    }
                }
                .video-grid{
                    .row{
                        margin: 0;
                    }
                    div[class*="col-xs"]{
                        padding: 0;
                    }
                    .node{
                        position: relative;
                        .media-youtube-video{
                            position: relative;
                            width: 100%;
                            height: 0;
                            padding-bottom: 56.25%;
                            iframe{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .HomeTitle{
                            position: relative;
                            background: #000;
                            color: #fff;
                            font-weight: 400;
                            font-size: 1.2em;
                            padding: 5px 15px;
                            display: none;
                        }
                    }
                }
            }
            @media all and (max-width: @larger-tablet-width){
                #block-block-263{
                    .content{
                        .flex-grid-sm-padding{
                            flex-direction: column;
                        }
                    }
                }
            }
            @media all and (max-width: @phone-width){
                #block-block-263{
                    #node-377{
                        .HomeTitle{
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

.container{
    .region{
        .home-leader-ad{
            margin: 20px auto;
            .image-grid{
                text-align: center;
                &.desktop-ad{
                    @media all and (max-width: @phone-width) {
                        display: none;
                    }
                }
                &.mobile-ad{
                    @media all and (min-width: @phone-width + 1px) {
                        display: none;
                    }
                }
            }
        }
        .home-bt-leader-ad{
            margin: 20px auto;
            .image-grid{
                text-align: center;
                &.desktop-ad{
                    @media all and (max-width: @phone-width) {
                        display: none;
                    }
                }
                &.mobile-ad{
                    @media all and (min-width: @phone-width + 1px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.region{
    #block-block-271{
        .media_filter{
            margin: 0!important;
            height: auto;
            ul{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                z-index: 9999;
                li{
                    margin: 15px 1px;
                    border: 0.5px #afaeae solid;
                    text-transform: uppercase;
                    cursor: pointer;
                    a{
                        color: #afaeae;
                    }
                    &:hover{
                        a{
                            color: #fff;
                        }
                    }
                    &.active{
                        background: rgb(0,159,218);
                        a{
                            color: #fff;
                        } 
                    }
                }
            }
        } 
     }

    .view-content{
        .node-home-news-tiles{
            .contextual-links-wrapper + p{
                display: none;
            }
        }
    }
     
}

/*--END HOMEPAGE--*/

/*--CPD DIARY PAGE--*/
.page-node-257{
    #CPD-diary-main{
        background: none;
    }
    #block-block-242{
        background: rgba(255,255,255,0.9);

        .container{
            #myProgress{
                width: 80%;
                position: relative;
                margin: 0 auto;
                #ProgressCPDback{
                    width: 100%;
                }
                #MaxHours{
                    padding-left: 70%!important;
                    padding-top: 8px;
                    .trophy{
                        padding-top: 10px;
                        height: auto;
                        padding-left: 15px;
                    }
                }
            }
        }
    }

}

/*--END DIARY PAGE--*/

/*--MOBILE BURGER MENU--*/
/* main style */
.call {
    position: fixed;
    top: 50px; right: 20px;
    width: 50px; min-height: 50px;
    background: #bdc3c7;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 1px #333;
    list-style: none;
  }
  @media only screen and (min-width: @tablet-width) {
    .call {
        display: none; 
    }
  }
  
  .call-menu {
    line-height: 50px;
    text-align: center;
    background: #95a5a6;
    color: #333;
    border-radius: 25px;
    cursor: pointer;
  }
  .call-menu:hover {
    color: white;
    background: #00796b;
  }
  
  .call-items {
    width: 50px; line-height: 50px;
    text-align: center;
    display: none;
    color: #333;
    border-radius: 25px;
    transition: background .5s, color .5s;
  }
  .call-items:hover {
    background: #009688;
    color: #f5f5f5;
  }
  
  .shown {
    display: inline-block;
  }
/*--END DIARY PAGE--*/

/*--IMAGE UPLOAD BOX--*/
#uploadImage{
    border: 0;
}
#upload-btn{
    width: 100%;
    background: #009fda;
    color: #fff;
    font-family: Cairo;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    border-radius: 0;
    &:hover{
        opacity: 0.9;
    }
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgb(166, 168, 171);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        margin: 0 auto;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

div[aria-describedby="uploadImage"].ui-dialog{
    min-width: 350px;
    .ui-resizable-handle.ui-icon-gripsmall-diagonal-se{
        display: none!important;
    }
    .ui-dialog-titlebar{
        background: #fff!important;
        button.ui-dialog-titlebar-close{
            float: right;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 0px;
            position: relative;
            width: 30px;
            height: 30px;
            border: 0;
            border-radius: 0;
            background: rgba(255, 0, 0, 0.5);
            transition: 0.2s linear;
            &:hover{
                background: rgba(255, 0, 0, 1);
            }
            span.ui-icon-closethick{
                display: none;
            }
            &:after{
                content: '';
                position: absolute;
                width: 20px;
                transform: rotate(135deg);
                height: 2px;
                background: #fff;
            }
            &:before{
                content: '';
                width: 20px;
                transform: rotate(45deg);
                height: 2px;
                position: absolute;
                background: #fff;
            }
        }
    }
}
/*--END IMAGE UPLOAD BOX--*/