/* ********************************************************* */
/* -----------------Dashboard page added by jinghu ---------- */
/* ********************************************************* */
.dashboard_detail{
   margin-top:25px;
   

}
.customise_icon{
	  display:none;
	}
#block-block-184 #dashboard-right-content, #block-block-243 #dashboard-right-content, #block-block-244 #dashboard-right-content{
      height: 825px; 
}

#dashboard-right-content{
    height: 100%; 
    float: right;
	color: white;
}

/* ********************************************************* */
/* -----------------Dashboard page backgroud picture settings ---------- */
.background_2{
    background: url(/sites/default/files/ABOUT%20US/ABOUTUS1170X600.jpg) no-repeat center center fixed;
	background-size: cover;
}

.background_1{
    background: url(/sites/default/files/PARALLAX_TRADIES.jpg) no-repeat center center fixed;
	background-size: cover;
}

.background_3{
    background: url(/sites/default/files/NG_1200X600_RURAL.png) no-repeat center center fixed;
	background-size: cover;
}

.background_4{
    background: url(/sites/default/files/MEDIA1170X600_5.jpg) no-repeat center center fixed;
	background-size: cover;
}

body.modal-open {
    overflow: hidden;
	position: fixed;
}
/* ********************************************************* */

/* ********************************************************* */
/* -----------------Dashboard national group icons settings ---------- */
.icons i{
    width: 44px;
    height: 44px;
	background-image: url(/sites/default/files/NG_ICON_44X44.png);
    background-repeat: no-repeat;
    background-size: inherit;
}

.icons i.APN{
    background-position: 0px 0px;
}
.icons i.ANI{
    background-position: -44px 0px;
}
.icons i.AQA{
    background-position: 0px -44px;
}
.icons i.CAR{
    background-position: -44px -44px;
}
.icons i.EDU{
    background-position: 0px -88px;
}
.icons i.GEN{
    background-position: -44px -88px;
}
.icons i.MUS{
    background-position: 0px -132px;
}
.icons i.NEU{
    background-position: -44px -132px;
}
.icons i.OCC{
    background-position: 0px -176px;
}
.icons i.PAE{
    background-position: -44px -176px;
}
.icons i.SPT{
    background-position: 0px -220px;
}
.icons i.PEL{
    background-position: -44px -220px;
}
.icons i.DIS{
    background-position: 0px -264px;
}
.icons i.PAN{
    background-position: -44px -264px;
}
.icons i.CAN{
    background-position: 0px -308px;
}
.icons i.ORT{
    background-position: -44px -308px;
}
.icons i.EMG{
    background-position: 0px -352px;
}
.icons i.BUS{
    background-position: -44px -352px;
}
.icons i.RUL{
    background-position: 0px -396px;
}
.icons i.STU{
    background-position: -44px -396px;
}
.icons i.MEN{
    background-position: 0px -440px;
}
.icons i.LED{
    background-position: -44px -440px;
}

/* ********************************************************* */


.dashboard-name{
    margin-left:5px; 
	font-size: 25px;

}
.dashboard-nav{
    
	width: 120px;
	height: 120px;
}

#block-block-184 .carousel-control.left {
    background-image:none;
	color:white;
}

#block-block-184 .carousel-control.right {
    background-image:none;
	color:white;
}

#block-block-184 .dashboard-content-bottom{
    margin-top:15px;
}

.dashboard-button
{
    background-color: #009fda;
	border-width: 0px !important;
    width: 110px;
    height: 30px;
}
#block-block-184 .dashboard-bottom-button{
    margin-top:20px;
}
.dashboard-button-name{
 
    color:white;
	text-align:center;
}

.dashboard-icon{
    display:inline-block;
    color:white;
    margin-left:25%;
}


#block-block-184 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000;
  box-shadow: 0 0 0 15px grey;
  margin-top: 10px;
  margin-left: 10px;
}

#block-block-184 .carousel-control{
  width:2%;
}
#block-block-184 .carousel-control .glyphicon-chevron-left, #block-block-184 .carousel-control .glyphicon-chevron-right {

  font-size: 15px;
  margin-right:-15px;
}
#block-block-184 .container-fluid {
  width:110%;
  padding-left: 0px!important;
}

.dashboard-left-nav{
   background-color: grey;
   height: 825px; 
   float: left; 
}

#block-block-184 #donutchart{
   width:130px; 
   height:130px; 
   top: 39px;
   right: 64px;
   position: absolute;
}

#block-block-184 td, #block-block-220 td, #block-block-216 #dashboard-navbar-collapse-1 td, #block-block-218 #dashboard-navbar-collapse-1 td, #block-block-220 #dashboard-navbar-collapse-1 td
	
{
   border-top: none;
}
#block-block-218 .down4 td, #block-block-218 .down5 td{
   border-top: none!important;
   border-bottom: 1px solid #ddd;
  
}
#block-block-218 .down4 tbody, #block-block-218 .down5 tbody{
   border-top: none!important;
}
.container-fluid a{
   color:white;
}

.dashboard-backgroud{
    float: right;
    
    border: none;
    background: transparent;
}

#block-block-184 label > input, #block-block-216 label > input, #block-block-218 label > input, #block-block-220 label > input, #block-block-243 label > input, #block-block-242 label > input, #block-block-244 label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#block-block-184 label > input + img, #block-block-216 label > input + img, #block-block-218 label > input + img, #block-block-220 label > input + img, #block-block-243 label > input + img, #block-block-242 label > input + img, #block-block-244 label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
#block-block-184 label > input:checked + img, #block-block-216 label > input:checked + img, #block-block-218 label > input:checked + img, #block-block-220 label > input:checked + img, #block-block-243 label > input:checked + img, #block-block-242 label > input:checked + img, #block-block-244 label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #009fda;
}
div#dashboard-right-content div.dashboard_detail div:nth-child(5){
	margin-top: 15px;
}
form[name="formradio"] label {
    width: 32.5%;
}