/* ********************************************************* */
/* -----------------Dashboard page added by jinghu ---------- */
/* ********************************************************* */
.dashboard_detail{
   margin-top:25px;
   

}
.customise_icon{
	  display:none;
	}
#block-block-184 #dashboard-right-content, #block-block-243 #dashboard-right-content, #block-block-244 #dashboard-right-content#{
      height: 825px; 
}
#block-block-249 #dashboard-right-content{
      height: 825px;
}

#dashboard-right-content{
    height: 100%; 
    float: right;
	color: white;
}
.focuscss{
    border: 1px solid red!important;
}
/* ********************************************************* */
/* -----------------Dashboard page backgroud picture settings ---------- */
.background_2{
    background: url(/sites/default/files/DASHBOARD_PIC_1170X600_2.jpg) no-repeat center center fixed;
	background-size: cover;
}

.background_1{
    background: url(/sites/default/files/DASHBOARD_PIC_1170X600.jpg) no-repeat center center fixed;
	background-size: cover;
}

.background_3{
    background: url(/sites/default/files/DASHBOARD_PIC_1170X600_3.png) no-repeat center center fixed;
	background-size: cover;
}

.background_4{
    background: url(/sites/default/files/DASHBOARD_PIC_1170X600_4.jpg) no-repeat center center fixed;
	background-size: cover;
}

.background_5{
    background: url(/sites/default/files/DASHBOARD_PIC_1170X600_5.jpg) no-repeat center center fixed;
	background-size: cover;
}

body.modal-open {
    overflow: hidden;
	position: fixed;
}
/* ********************************************************* */

/* ********************************************************* */
/* -----------------Dashboard national group icons settings ---------- */
.icons i{
    width: 44px;
    height: 44px;
	background-image: url(/sites/default/files/NG_ICON_44X44.png);
    background-repeat: no-repeat;
    background-size: inherit;
}

.icons i.APN{
    background-position: 0px 0px;
}
.icons i.ANI{
    background-position: -44px 0px;
}
.icons i.AQA{
    background-position: 0px -44px;
}
.icons i.CAR{
    background-position: -44px -44px;
}
.icons i.EDU{
    background-position: 0px -88px;
}
.icons i.GEN{
    background-position: -44px -88px;
}
.icons i.MUS{
    background-position: 0px -132px;
}
.icons i.NEU{
    background-position: -44px -132px;
}
.icons i.OCC{
    background-position: 0px -176px;
}
.icons i.PAE{
    background-position: -44px -176px;
}
.icons i.SPT{
    background-position: 0px -220px;
}
.icons i.PEL{
    background-position: -44px -220px;
}
.icons i.DIS{
    background-position: 0px -264px;
}
.icons i.PAN{
    background-position: -44px -264px;
}
.icons i.CAN{
    background-position: 0px -308px;
}
.icons i.ORT{
    background-position: -44px -308px;
}
.icons i.EMG{
    background-position: 0px -352px;
}
.icons i.BUS{
    background-position: -44px -352px;
}
.icons i.RUL{
    background-position: 0px -396px;
}
.icons i.STU{
    background-position: -44px -396px;
}
.icons i.MEN{
    background-position: 0px -440px;
}
.icons i.LED{
    background-position: -44px -440px;
}

/* ********************************************************* */


.dashboard-name{
    margin-left:5px; 
	font-size: 25px;

}
.dashboard-nav{
    
	width: 120px;
	height: 120px;
}

#block-block-184 .carousel-control.left {
    background-image:none;
	color:white;
}

#block-block-184 .carousel-control.right {
    background-image:none;
	color:white;
}

#block-block-184 .dashboard-content-bottom{
    margin-top:15px;
}

.dashboard-button
{
    background-color: #009fda;
	border-width: 0px !important;
    width: 110px;
    height: 30px;
}
#block-block-184 .dashboard-bottom-button{
    margin-top:20px;
}
.dashboard-button-name{
 
    color:white;
	text-align:center;
}

.dashboard-icon{
    display:inline-block;
    color:white;
    margin-left:25%;
}


#block-block-184 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000;
  box-shadow: 0 0 0 15px grey;
  margin-top: 10px;
  margin-left: 10px;
}

#block-block-184 .carousel-control{
  width:2%;
}
#block-block-184 .carousel-control .glyphicon-chevron-left, #block-block-184 .carousel-control .glyphicon-chevron-right {

  font-size: 15px;
  margin-right:-15px;
}
#block-block-184 .container-fluid {
  width:110%;
  padding-left: 0px!important;
}

.dashboard-left-nav{
   background-color: grey;
   height: 825px; 
   float: left; 
}

#block-block-184 #donutchart{
   width:130px; 
   height:130px; 
   top: 39px;
   right: 64px;
   position: absolute;
}

#block-block-184 td, #block-block-220 td, #block-block-216 #dashboard-navbar-collapse-1 td, #block-block-218 #dashboard-navbar-collapse-1 td, #block-block-220 #dashboard-navbar-collapse-1 td
	
{
   border-top: none;
}
#block-block-218 .down4 td, #block-block-218 .down5 td{
   border-top: none!important;
   border-bottom: 1px solid #ddd;
  
}
#block-block-218 .down4 tbody, #block-block-218 .down5 tbody{
   border-top: none!important;
}
.container-fluid a{
   color:white;
}

.dashboard-backgroud{
    float: right;
    
    border: none;
    background: transparent;
}

#block-block-184 label > input, #block-block-216 label > input, #block-block-218 label > input, #block-block-220 label > input, #block-block-243 label > input, #block-block-242 label > input, #block-block-244 label > input, #block-block-245 label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#block-block-184 label > input + img, #block-block-216 label > input + img, #block-block-218 label > input + img, #block-block-220 label > input + img, #block-block-243 label > input + img, #block-block-242 label > input + img, #block-block-244 label > input + img, #block-block-245 label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
#block-block-184 label > input:checked + img, #block-block-216 label > input:checked + img, #block-block-218 label > input:checked + img, #block-block-220 label > input:checked + img, #block-block-243 label > input:checked + img, #block-block-242 label > input:checked + img, #block-block-244 label > input:checked + img, #block-block-245 label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #009fda;
}
div#dashboard-right-content div.dashboard_detail div:nth-child(5){
	margin-top: 15px;
}
form[name="formradio"] label {
    width: 32.5%;
}
.paymentsidecredit fieldset{
    margin-left: -16px;
	margin-top: 9px;
}
.deletecardbutton {
    color:white!important;
}
div[aria-describedby="addPaymentCardForm"].ui-dialog {
    z-index: 1050!important;
    left: 33%!important;
	top: 47%!important;
	width: 486px!important;
}
div[aria-describedby="addPaymentCardForm"] .ui-widget-header{
    border:none!important;
	background-color:white!important;
}
div[aria-describedby="addPaymentCardForm"] .ui-dialog-content{
    overflow:hidden!important;
}
div[aria-describedby="updateCardForm"].ui-dialog {
    z-index: 1050!important;
    left: 33%!important;
	top: 47%!important;
	width: 486px!important;
}
div[aria-describedby="updateCardForm"] .ui-widget-header{
    border:none!important;
	background-color:white!important;
}
div[aria-describedby="updateCardForm"] .ui-dialog-content{
    overflow:hidden!important;
}
div[aria-describedby="rollOverWindow"].ui-dialog,  div[aria-describedby="setCardWindow"].ui-dialog{
    z-index: 1050!important;
    left: 33%!important;
	top: 47%!important;
	width: 486px!important;
}
div[aria-describedby="rollOverWindow"] .ui-widget-header, div[aria-describedby="setCardWindow"] .ui-widget-header{
    border:none!important;
	background-color:white!important;
}
div[aria-describedby="rollOverWindow"] .ui-dialog-content, div[aria-describedby="setCardWindow"] .ui-dialog-content{
    overflow:hidden!important;
}
div[aria-describedby="deleteCardWindow"].ui-dialog {
    z-index: 1050!important;
    left: 33%!important;
	top: 47%!important;
	width: 429px!important;
	height: 175px!important;
}
div[aria-describedby="deleteCardWindow"] .ui-widget-header{
    border:none!important;
	background-color:white!important;
}
div[aria-describedby="deleteCardWindow"] .ui-dialog-content{
    overflow:hidden!important;
}
div[aria-describedby="privacypolicyWindow"].ui-dialog {
    z-index: 1050!important;
    left: 23%!important;
	top: 51%!important;
	width: 673px!important;
	
}
div[aria-describedby="privacypolicyWindow"] .ui-widget-header{
    border:none!important;
	background:white!important;
}
div[aria-describedby="privacypolicyWindow"] .ui-dialog-content{
   
}
div[aria-describedby="installmentpolicyWindow"].ui-dialog {
    z-index: 1050!important;
    left: 23%!important;
	top: 51%!important;
	width: 673px!important;
	
}
div[aria-describedby="installmentpolicyWindow"] .ui-widget-header{
    border:none!important;
	background:white!important;
}
div[aria-describedby="installmentpolicyWindow"] .ui-dialog-content{
   
}
label[for="privacypolicyp"]{
    margin-left:-3px;
}
#deleteCardWindow h3, #rollOverWindow h3,#setCardWindow h3{
    color: #009fda!important;
	margin-top: -6px;
	margin-bottom: 28px;
}
#privacypolicyWindow h3, #installmentpolicyWindow h3{
    color: #009fda !important;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 13px;
}
input#privacypolicyp, input#installmentpolicyp{
    margin-left: 14px;
}
a.cancelDeleteButton {
    padding: 8px 46px;
    background-color: #009fda!important;
    color: white!important;
    margin-left: 10%;
}
button.deletecardbutton {
    width: 100px;
    height: 33px;
    border: none;
    background-color: #009fda !important;
    color: white !important;
}

/* ********************************************************* */
/* -----------------Join the member page added by jinghu End---------- */
/* ********************************************************* */
.shipping{
    display:none!important;
}
a[class^="join-details-button"]{
    float: right;
    margin-bottom: 20px;
    margin-right: 24%;
    margin-top: 4px;
	background-color: #009fda;
    border-width: 0px !important;
    width: 110px;
    height: 30px;
}

a[class^="your-details-prevbutton"]{
    float: left;
    margin-bottom: 20px;
    margin-right: 24%;
    margin-top: 4px;
	background-color: #009fda;
    border-width: 0px !important;
    width: 110px;
    height: 30px;
}
#conditions {
    margin-left: 0%!important;
    margin-right: 13px;
}









/* ********************************************************* */
/* -----------------Subscriptions page added by jinghu End---------- */
/* ********************************************************* */
#block-block-216 .dashboard-left-nav{
   height:910px;
}
#block-block-216 input[type=checkbox]{
   float:right;
   visibility:visible;
  
}

#block-block-216 .table-bordered td{
   width:50%;
}
#block-block-216 .table-bordered td label{
   font-weight:500;
   width:90%;     
}
#block-block-216 #dashboard-right-content{
   height:100%;
}
.subscriptions-submit{
   float:right; 
   margin-bottom:20px;
}
/* ********************************************************* */
/* -----------------Subscriptions page added by jinghu End---------- */
/* ********************************************************* */


/* ********************************************************* */
/* -----------------Purchases page added by jinghu End---------- */
/* ********************************************************* */

#block-block-218 #dashboard-right-content, #block-block-250 #dashboard-right-content,#block-block-251 #dashboard-right-content{
   height:825px;
}

/* ********************************************************* */
/* -----------------Purchases page added by jinghu End---------- */
/* ********************************************************* */


/* ********************************************************* */
/* -----------------Your detail page added by jinghu---------- */
/* ********************************************************* */
#block-block-220 #dashboard-right-content, #block-block-220 .dashboard-left-nav, #block-block-245 #dashboard-right-content{
   height:1010px;
}
#block-block-245 #dashboard-right-content{
   height:963px;
}

#block-block-220 input[type="text"]{
   padding:0;
   padding-left:10px;
}
#block-block-220 .row, #block-block-243 .row, #block-block-245 .row, #block-block-249 .row{
   margin-bottom: 15px;
}
#block-block-243 #changePasswordForm{
   margin-top: 23px;
}
#block-block-220 .your-details-submit, #block-block-245 .your-details-submit{
    
    float: left;
    margin-bottom: 20px;
	margin-right: 24%;
    margin-top: 4px;
}
#block-block-244 .paymentsidecredit{
    margin-top: 16px!important;
}
#block-block-244 .row{
    margin-bottom: 15px;
}
.none-padding{
    padding:0;
}
.form-image{
    margin-top:46px;
}
#block-block-220 div.error, .error {
    color: white;
}
#block-block-220 input[type=checkbox], #block-block-245 input[type=checkbox], #block-block-249 input[type=checkbox]{
    margin-left: 13%;
}
#block-block-245 input[id=p1-1], #block-block-245 input[id=p1-2]{
    margin-left: 1%;
}
#block-block-245 label[for=p1-2]{
    margin-left: 5%;
}
#block-block-245 .dashboard-button-name, a span.dashboard-button-name{
    padding: 39px;
    line-height: 32px;
}
#block-block-220 .nav-tabs>li>a, #block-block-245 .nav-tabs>li>a{
    margin-right:0!important;
	white-space: nowrap;
	padding-left:0;
}

#block-block-220 .nav-tabs, #block-block-245 .nav-tabs, #block-block-249 .nav-tabs, #block-block-250 .nav-tabs, #block-block-251 .nav-tabs{
    border-bottom:none!important;
	margin-bottom:10px;
}
#block-block-220 .nav-tabs>li>a:hover{
    border-color:none!important;
}
#block-block-220 .nav>li>a:hover{
    background-color:none!important;
}
#block-block-220 form .row div,  #block-block-245 form .row div{
    padding: 0 0px 0 15px;
}
#block-block-220 form label, #block-block-245 form label, #block-block-220 form label, #block-block-249 form label{
    font-weight:100;
}
#block-block-220 .payment-line, #block-block-245 .payment-line, #block-block-249 .payment-line{    
	border-top: 1px solid white;
    padding-top: 11px;
}
#block-block-220 .form-right, #block-block-245 .form-right, #block-block-249 .form-right{    
	
    padding-left: 50px;
}
select#Ugraduate-year-attained{
    width: 71%;
}
a.uploadImageButton:hover {
    color: white;
}
a.uploadImageButton {
    background-color: #009fda;
    color: white;
    padding: 8px;
    line-height: 32px;
   
}
.memSCTable td{
    border-left: 1px solid white;
	border-bottom: 1px solid white!important;
    padding: 14px;
}
.memSCTable th{
    border-left: 1px solid white;
	border-bottom: 1px solid white!important;
    padding: 14px;
}
.memSCTable td:nth-child(3), .memSCTable th:nth-child(3) {
    border-right: 1px solid white!important;
}
.Membpaymentsiderbar {
    border: 1px solid white;
    background-color: transparent;
    padding: 15px;
}
.Membpaymentsiderbar .sidebardis{
    color: white!important;
}
.Membpaymentsiderbar .ordersummary{
    border-left:none;
	border-right:none;
	border-top:none;
}
.Membpaymentsiderbar .ordersummary span{
    margin-left: 34px;
    color: white;
}
.Membpaymentsiderbar .placeorder{
    width: 222px;
}
#block-block-249 .Membpaymentsiderbar .placeorder{
    width: 173px!important;
}

.down10 .panel, .down3 .panel{
    background-color: transparent!important;
}
.down10 .panel-group .panel-heading+.panel-collapse .panel-body, .down3 .panel-group .panel-heading+.panel-collapse .panel-body{
    border-top:none!important;
}
.down10 .panel-group .in, .down3 .panel-group .in{
    border-right:none!important;
	border-left:none!important;
}
.down10 .panel-body, .down3 .panel-body{
    padding-left: 0px!important;
	padding-bottom:0px!important;
}
a.add-workplace-join{
    margin-bottom: 10px;
}
input[id^="Additional-qualifications"] {
    margin-left: -15px;
    margin-bottom: 15px;
}
a.add-additional-qualification {
    float: right;
    margin-bottom: 16px;
    margin-right: -9%;
    margin-top: 4px;
    background-color: #009fda;
    border-width: 0px !important;
    width: 182px;
    height: 30px;
}
.add-workplace, .add-workplace-join{
    float:right;
	background-color:#009fda;
	padding: 3px;
    margin-top: -9px;
    margin-bottom: -2px;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
#wpnumber{
    display:none;
}
.autoscroll{
   overflow-y: scroll;

}
.fade {
    display:none;
}
.fade.in{
    display: inline-block;
}
#formaddcard .row{
    margin-bottom:5px;
}
#formaddcard .addCartButton,#updateCardForm .addCartButton{
    margin-left: 3%;
}
#formaddcard .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	opacity: 1!important;
}

#formaddcard .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#formaddcard .tooltip:hover .tooltiptext {
    visibility: visible;
}