/* --------------------------------------------------------- */
/* ---------------------- Membership ----------------------- */
/* --------------------------------------------------------- */

@import (reference) "predefined-styles.less";

.membershipCategory {
	width: 20%;
    height: 99px;
    text-align: left;
    padding-bottom: 40px !important;
    font-size: 20px;
    background-image: url(/sites/default/files/APA_ARROW_30X30.png) !important;
    background-repeat: no-repeat !important;
    background-position: 98% 87% !important;
    border-radius: 0;
}
.membership #section-main-content {
	margin-top: 30px;
}
.GroupTabs .dexp_tab_wrapper .nav-title {
	position: absolute;
    margin-top: 37px;
    color: white;
	font-weight: bold;
	font-size: 20px;
}
.GroupTabs .dexp_tab_wrapper ul {
	width: 615px;
	position: absolute;
	margin: 80px 0 65px;	
	border-bottom: none;
}
.GroupTabs .dexp_tab_wrapper ul li {
	float: left;
	width: 293px;
	border-bottom: 0.5px rgba(195,200,200,0.8) solid;
	border-top: 0.5px rgba(195,200,200,0.8) solid;
	border-left: 0.5px rgba(195,200,200,0.8) solid;
}
.GroupTabs .dexp_tab_wrapper ul li:nth-child(even)  {
	border-right: 0.5px rgba(195,200,200,0.8) solid;
}
.GroupTabs .dexp_tab_wrapper ul li.active a {
	background-color: rgba(0,159,218,1) !important;
}
.GroupTabs .dexp_tab_wrapper ul li.active a:focus {
	color: white;
}
.GroupTabs .dexp_tab_wrapper ul li a {
	line-height: 32px;
	background-color: transparent;
	padding: 0 12px;
	border-radius: 0;
	margin: 0;
	color: white;
}
.GroupTabs .dexp_tab_wrapper ul li:not(.active):hover a {
	background-color: rgba(0,122,201,0.5);
}
.GroupTabs .dexp_tab_wrapper .tab-content {
	float: left;
	width: 100%;
	margin-right: 15px;
	height: 600px;
	border: none;
	padding: 0px;
}
.GroupTabs .dexp_tab_wrapper .tab-content p {
	margin: 0 0 20px;
}
.GroupTabs .dexp_tab_wrapper .tab-content .tab-pane {
	transition: all 0.2s ease-in-out 0s;
}

.GroupTabs .dexp_tab_wrapper .tab-content img {
	width: 100%;
	height: 600px;
}
.GroupTabs .dexp_tab_wrapper .tab-content .GroupTab h2 {
	color: white;
	font-size: 34px;
}
.GroupTabs .dexp_tab_wrapper .tab-content h5 {
	color: white;
	font-size: 20px;
}
.GroupTabs .dexp_tab_wrapper .tab-content button {
	left: 40px;
	bottom: 50px;
	width: 135px;
	margin-top: 35px;
}
.CustomBox .box-left .box-icon span i.favoui:before {
                content: " ";
}
.CustomBox .box-left .box-icon span i.fa {
                margin: 0;
}
.CustomBox .box-left .box-icon span i {
                width: 44px;
    height: 44px;
    background-size: contain;
}

.content .imagecover {
	background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 600px;
    position: absolute;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 0px;
}
.box-left .box-icon span i.fullTime {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_.png);   
}
.box-left .box-icon span i.partTime {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_2.png);   
}
.box-left .box-icon span i.reduced {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_3.png);   
}
.box-left .box-icon span i.graduate {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_4.png);   
}
.box-left .box-icon span i.student {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_5.png);   
}
.box-left .box-icon span i.updateDetail {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_6.png);   
}
.box-left .box-icon span i.categoriesFee {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_7.png);   
}
.box-left .box-icon span i.Benefit {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_8.png);   
}
.box-left .box-icon span i.NationalGroup {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_9.png);   
}
.box-left .box-icon span i.Information {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_10.png);   
}
.box-left .box-icon span i.Committee {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_11.png);   
}
.box-left .box-icon span i.retired {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_12.png);   
}
.box-left .box-icon span i.physioAssistant {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_13.png);   
}
.box-left .box-icon span i.associate {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_14.png);   
}
.box-left .box-icon span i.affiliate {
	background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_15.png);   
}
/*********************************************/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
	margin: 0;
	width: 200px;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 0.5px solid #fff;
	border-top: 0.5px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 0.5px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #13a;
}
.sf-menu li {
	background: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #AABDE6;
}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #CFDEFF;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/* ----------- Partners page --------- */
#block-block-248 .dexp-shortcodes-box.box-left .box-title, #block-block-248 .dexp-shortcodes-box.box-left .box-content {
	margin-left: 0;
}
#media-block-15, #media-block-16 {
	margin: auto;
}

#media-block-14 .node-partners,
#media-block-15 .node-partners,
#media-block-16 .node-partners {
	border-width: 0.5px;
	border-style: solid;
	border-color: rgba(195,200,200,0.8);
	padding: 1px 60px;
}
#media-block-14 .node-partners img,
#media-block-15 .node-partners img,
#media-block-16 .node-partners img {
	width: 160px;
}
#media-block-14 .node-partners,
#media-block-15 .node-partners:nth-child(4n + 1),
#media-block-16 .node-partners:nth-child(4n + 1) {
	border-top-width: 0;
}
#media-block-14 .node-partners:nth-child(4n + 2),
#media-block-14 .node-partners:nth-child(4n + 3),
#media-block-14 .node-partners:nth-child(4n),
#media-block-15 .node-partners:nth-child(4n + 2),
#media-block-15 .node-partners:nth-child(4n + 3),
#media-block-15 .node-partners:nth-child(4n),
#media-block-16 .node-partners:nth-child(4n + 2),
#media-block-16 .node-partners:nth-child(4n + 3),
#media-block-16 .node-partners:nth-child(4n) {
	border-left-width: 0;
	border-top-width: 0;
}
#media-block-14 .node-partners:nth-child(2),
#media-block-14 .node-partners:nth-child(3),
#media-block-14 .node-partners:nth-child(4),
#media-block-15 .node-partners:nth-child(2),
#media-block-15 .node-partners:nth-child(3),
#media-block-15 .node-partners:nth-child(4),
#media-block-16 .node-partners:nth-child(2),
#media-block-16 .node-partners:nth-child(3),
#media-block-16 .node-partners:nth-child(4) {
	border-left-width: 0;
	border-top-width: 0.5px;
}
#media-block-14 .node-partners:nth-child(1),
#media-block-15 .node-partners:nth-child(1),
#media-block-16 .node-partners:nth-child(1) {
	border-top-width: 0.5px;
	border-color: rgba(195,200,200,0.46);
}
/*
#media-block-16 .node-partners {
	padding: 1px 65px;
}
#media-block-16 .node-partners img {
	width: 150px;
}
*/
/* Membership Question */
.ProgressHolder {
	height: 110px;
	width: 800px;
	position: relative;
	margin: auto;
}
.ProgressHolder .ProgressBar {
	overflow: hidden;
	width: 800px;
	height: 100px;
	position: absolute;
}
.ProgressHolder .ProgressBar .ProgressBarHolder {
	background-image: url(/sites/default/files/TIMELINE.png);
	width: 800px;
	height: 100px;
	position: absolute;
	z-index: 5;
}
.ProgressHolder .ProgressBar .ProgressBarBack {
	width: 800px;
	height: 80px;
	position: absolute;
	background-color: rgb(195,200,200);
	z-index: 3;
}
.ProgressHolder .ProgressBar .ProgressBarBar {
	width: 800px;
	height: 80px;
	position: absolute;
	background-color: rgb(0,159,218);
	margin-left: -747px;
	z-index: 4;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 0.45, 0.75, 0.8);
	transition-timing-function: cubic-bezier(0.2, 0.45, 0.75, 0.8);
}
.ProgressHolder .SectionHolder {
    width: 800px;
    position: absolute;
	z-index: 5;
}
.ProgressHolder div[id^="Section"] {
    float: left;
    width: 40px;
    margin-right: 150px;
	margin-top: 1.4px;
	cursor: pointer;
}
.ProgressHolder div#Section5 {
    margin-right: 0;
}
.ProgressHolder div[id^="Section"] [class^="Label"] {
	color: rgb(0,159,218);
	width: 190px;
	margin-left: -20px;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.54, -0.89, 0.7, 1.41);
	transition-timing-function: cubic-bezier(0.54, -0.89, 0.7, 1.41);
	margin-bottom: 17.1px;
}
.ProgressHolder div[id^="Section"] div.Label1 {
	margin-left: 17px;
}
.ProgressHolder div[id^="Section"] div.Label2 {
    margin-left: -25px;
}
.ProgressHolder div[id^="Section"] div.Label3 {
    margin-left: -38px;
}
.ProgressHolder div[id^="Section"] div.Label4 {
    margin-left: -50px;
}
.ProgressHolder div[id^="Section"] [class^="Circle"] {
	background-color: rgb(0,159,218);
	border-radius: 50%;
	width: 27px;
	height: 27px;
	margin: 3px auto;
	z-index: 5;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.54, -0.89, 0.7, 1.41);
	transition-timing-function: cubic-bezier(0.54, -0.89, 0.7, 1.41);
}
.ProgressHolder div[id^="Section"] div.Circle1 {
	margin-left: 18px;
}
.ProgressHolder div[id^="Section"] div.Circle2 {
    margin-left: 13px;
}
.ProgressHolder div[id^="Section"] div.Circle3 {
    margin-left: 8px;
}
.ProgressHolder div[id^="Section"] div.Circle4 {
    margin-left: 3px;
}
.ProgressHolder div[id^="Section"] div.Circle5 {
    margin-left: -2.1px;
}
.ProgressHolder .active div[class^="Label"] {
    color: rgb(0,159,218);
    font-weight: bold;
}
.ProgressHolder .passed div[class^="Circle"] {
    background-color: rgb(195,200,200);
}
#block-block-255 .MemberQInfo2 p {
	margin: 40px 0 50px;
    padding-left: 0;
	font-size: 20px;
    text-indent: 0;
}
.MainQuestionHolder {
	width: 100%;
	overflow: hidden;
}
.MainQuestionHolder .SectionHolder {
	text-align: center;
}
.MainQuestionHolder .SectionHolder .MPcontainer {
	margin: auto;
	width: 95%;
	border: 0.5px solid rgba(195,200,200,0.5);
    padding: 25px 40px;
	overflow: hidden;
	margin-top: 35px;
	font-size: 1.2em;
	p{
		display: none;
	}
	.node{
		margin-top: 0!important;
	}
	label{
		float: left;
		font-weight: 400;
		color: #000;
	}
	.flex-col-10, .flex-col-2{
		padding-top: 0!important;
	}
}
.node-membership-type section.post-content .MTcontent{
	font-size: 1.2em;
}
.MainQuestionHolder .SectionHolder #Sections5 .MPcontainer {
    margin: 30px auto;
}


MainQuestionHolder .SectionHolder #Sections3 h2:not(.MTtitle),
.MainQuestionHolder .SectionHolder #Sections4 h2:not(.MTtitle),
.MainQuestionHolder .SectionHolder #Sections5 h2:not(.MTtitle) {
	font-size: 50px;
}
.node-membership-type section.post-content {
    text-align: left;
}
.node-membership-type section.post-content h2 {
	font-weight: bold;
	margin-bottom: 5px;
}
.node-membership-type section.post-content .MTcontent {
	margin-bottom: 8px;
}
.MTcontentTitle {
    color: rgb(0,159,218);
    font-weight: bold;
    float: left;
    margin-right: 5px;
}
.node-membership-type section.post-content .MTcontent:nth-child(3) .MTcontentTitle,
.node-membership-type section.post-content .MTcontent:nth-child(4) .MTcontentTitle {
	width: 100%;
	float: initial;
	margin: 0;
}
.MainQuestionHolder .SectionHolder #Sections4 p {
	text-align: left;
	margin-bottom: 15px;
}
table.MTtable {
    border: none;
	margin-top: 50px;
}
table.MTtable tbody {
    border: none;
}
table.MTtable td {
    border: none !important;
    padding: 0 !important;
    text-align: left;
}
.MainQuestionHolder div[id^="Sections"] .buttons {
	margin: 20px auto 10px;
}
.MainQuestionHolder #Sections1 .buttons {
	margin-top: 60px;
	margin-bottom: 50px;
}
.MainQuestionHolder #Sections5 .buttons {
	margin: 85px auto 10px;
}
.MainQuestionHolder div[id^="Sections"] .buttons div {
	color: #000;
	padding: 10px 20px;
	font-family: Cairo;
    font-weight: 400;
	float: left;
	cursor: pointer;
	background-color: rgba(195, 200, 200,0.6);
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 0.45, 0.75, 0.8);
	transition-timing-function: cubic-bezier(0.2, 0.45, 0.75, 0.8);
}
.MainQuestionHolder div[id^="Sections"] .buttons div:hover {
	background-color: rgb(0,159,218);
}
.MainQuestionHolder div[id^="Sections"] .buttons .prev,
.MainQuestionHolder div[id^="Sections"] .buttons .restart {
	margin-right: 4px;
}

.MainQuestionHolder div[id^="Sections"] .buttons .Join {
	background: none;
	padding: 0;
	button{
		margin: 0;
		width: 100%!important;
	}
}
.MainQuestionHolder div#Sections2 div[id^="question"] {
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 0.45, 0.75, 0.8);
	transition-timing-function: cubic-bezier(0.2, 0.45, 0.75, 0.8);
}

.MainQuestionHolder div#Sections2 .buttons div {
	width: auto;
}
.MTtable td label {
	width: 85%;
}
.sep {
	clear: both;
}
#Sections5 .MTcontentTitle {
	color: black;
	font-weight: 300;
	font-size: 15px;
}
#Sections5 #chosenTypeName, #Sections5 #chosenNGName, #Sections5 #totalCost {
	float: left;
	margin: 0 0 0 10px;
	font-weight: bold;
}
#Sections5 #chosenNGName .NGindiv {
	font-weight: bold;
}
#Sections5 #totalCost {
	font-weight: bold;
}

.membership-type-question{
	#section-main-content{
		position: relative;
		display: block;
		padding-bottom: 70px;
	}
	.MainQuestionHolder{
		width: 100%;
		overflow: visible;
		position: relative;
		height: auto;
		.SectionHolder{
			h2{
				font-size: 4em;
				padding-top: 60px;
				font-weight: 200;
				font-family: Cairo;
				margin: 0 auto;
				max-width: 860px;
				@media all and (max-width: @tablet-width){
					font-size: 2em!important;
				}
				@media all and (max-width: @phone-width){
					padding: 30px 0px 0px !important;
				}
			}
			.buttons{
				display: flex;
				flex-direction: column;
				justify-content: center;
				@media screen and (max-width: @phone-width) {
					div{
						font-size: 1em!important;
						min-width: 155px!important;
						button{
							min-width: 155px;
							font-size: 1em !important;
							min-height: 37px!important;
						}
					}
				}
				@media screen and (max-width: 335px) {
					div{
						font-size: 0.87em!important;
						min-width: 138px!important;
						button{
							min-width: 138px;
    						font-size: 1em !important;
						}
					}
				}
				&.main{
					flex-direction: row;
					button{
						color: #000;
						font-weight: 400!important;
						padding: 10px 20px;
						min-height: 43px;
						float: left;
						cursor: pointer;
						border: 0;
						background-color: rgba(195,200,200,0.6);
						transition: 0.3s;
						-webkit-transition-timing-function: cubic-bezier(0.2,0.45,0.75,0.8);
						transition-timing-function: cubic-bezier(0.2,0.45,0.75,0.8);
						&:hover{
							background: @bright-blue;
							color: #fff!important;
						}
					}
				}
			}
				.prev, .next, #resetQuestion, .restart, button{
					min-width: 200px;
					font-size: 1.2em!important;
					&:hover{
						background-color: @bright-blue;
						color: #fff;
					}
				}
				#resetQuestion{
					text-transform: lowercase;
					font-size: 1.2em;
					&::first-letter{
						text-transform: uppercase;
					}
				}
			}
			label[class^="optionLabel"]{
				cursor: pointer;
			}
			.question{
				.buttons{
					margin: 50px auto;
					label{
						float: left;
						clear: both;
						padding: 5px 20px;
						margin: 10px;
						min-width: 100px;
						max-width: 70%;
						text-align: center;
						font-size: 1.4em;
						font-family: Cairo;
						font-weight: 400;
						color: #333;
						transition: 0.1s linear;
						width: 100%;
						max-width: 900px;
						padding: 25px 50px;
						margin: 0 auto;
						background: none;
						border: 0.5px solid rgba(0,0,0,0.1);
						border-bottom: 0.5px solid rgba(0,159,218,0);
						&:last-of-type{
							border-bottom: 0.5px solid rgba(0,0,0,0.1);
						}
						&:hover{
							color: #009fda;
							background: rgba(0,0,0,0.012);
						}
						@media all and (max-width: @phone-width){
							width: 100%;
							max-width: 100%;
						}
					}
					&.main{
						flex-direction: row;
						margin-top: 0;
					}
					@media all and (max-width: @phone-width){
						margin: 15px auto;
						label{
							font-size: 1.2em;
						}
					}
				}
			}
			#Sections1{
				.buttons{
					flex-direction: row;
    				justify-content: center;
					.prev, .next{
						display: inline-block;
						float: none;
						text-decoration: none;
					}
					&.main{
						flex-direction: row;
					}
				}

			}
			#Sections2{
				.question{
					.buttons{
						label{
							float: left;
							clear: both;
							padding: 20px 20px;
							min-width: 200px;
							text-align: center;
							font-family: Cairo;
							font-weight: 400;
							transition: 0.1s linear;
						}
						&.main{
							flex-direction: row;
							margin-top: 0;
						}
					}
				}
			}
			#Sections3{
				.buttons{
					flex-direction: row;
					justify-content: center;
					&.main{
						flex-direction: row;
						margin-top: 0;
					}
				}
				.MPcontainer{
					overflow-y: auto;
					margin: 50px auto;
					padding: 50px;
					width: 100%;
					max-width: 1000px;
					h2.MTtitle{
						position: relative;
						padding: 30px 0;
						margin: 0;
						font-weight: 400;
						line-height: 1em;
					}
					@media all and (max-width: @phone-width) {
						margin: 35px auto;
						padding: 15px;
						h2.MTtitle{
							padding: 30px 0px !important;
							font-size: 1.5em!important;
						}
					}
				}
				.MPcontainer{
					.node-membership-type{
						h2.MTtitle{
							font-size: 3em;
						}
					}
				}
			}
			#Sections4{
				h2{
					max-width: 560px;
				}
				.buttons{
					flex-direction: row;
					justify-content: center;
					&.main{
						flex-direction: row;
					}
				}
				#mt-national-group{
					.flex-cell{
						justify-content: flex-start;
    					align-items: center;
					}
					div[class^="flex-col"]{
						align-items: flex-start;
						display: flex;
						padding-top: 15px;
					}
					.div[class^="NGprice"]{
						padding: 0 10px;
					}
					@media all and (max-width: @tablet-width) {
						.flex-cell{
							flex-direction: column;
							.flex-col-6{
								width: 100%;
							}
						}
					}
				}
			}
			#Sections5{
				.buttons{
					flex-direction: row;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					.prev, .restart, .Join{
						margin: 10px;
					}
					&.main{
						flex-direction: row;
						margin-top: 0;
					}
				}
				@media all and (max-width: @larger-phone-width) {
					.buttons{
						flex-direction: column;
					}
				}
			}
		}
	}

/*-- MEMBERSHIP PAGE --*/
.page-node-108{
    #block-block-137{
        .top-banner{
            padding: 200px 25% 2%;
            .page-main-header{
                color: #fff;
                font-family: Cairo;
                font-size: 4em;
                margin: 0px auto;
				line-height: 1em;
				text-transform: uppercase;
            }
            .separator{
                width: 100%;
                position: relative;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0;
                margin: 20px 0;
                &:after{
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 20px;
                    background: #fff;
                }
            }
            .text-container{
                font-family: Roboto;
                color: #fff;
                font-size: 1.4em;
                font-weight: 300;
                text-align: left;
            }
            .arrowDown{
                border: 1px #fff solid;
                transform: scale(0.7);
                margin: 25px auto 15px;
            }
            @media all and (max-width: @larger-tablet-width){
                padding: 200px 15% 2%;
            }
            @media all and (max-width: @larger-phone-width){
				padding: 150px 10% 2%;
				.img-parallax{
					display: none;
				}
                .page-main-header{
                    font-size: 3em;
                }
                .text-container{
                    font-size: 1.2em;
                }
            }
        }
    }  

    #block-block-137{
        .sub-top-banner{
			font-family: Roboto;
			padding: 20px 0;
			margin: 0 auto;
			background: rgba(0, 159, 218, 0.9);
            color: #fff;
            font-size: 2em;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 30px 0;
		}
		@media all and (max-width: @larger-phone-width){
            .sub-top-banner{
				padding: 25px 25px;
				font-size: 1.7em;
				background: rgba(0,159,218,1);
            }
            background-attachment: unset;
            -webkit-background-size: 130%!important;
            -moz-background-size: 130%!important;
            -o-background-size: 130%!important;
			background-size: 150%!important;
			background-position: 77% -0% !important;
                .top-banner{
                    background-image: linear-gradient(to top,rgb(4, 62, 109) 0%,rgb(4, 62, 109) 45%,rgb(4, 62, 109) 50%,rgba(255,255,255,0) 85%);              
                .separator{
                    margin: 10px 0;
                }
                .page-main-header{
                    font-size: 2.5em;
                }
            }
        }
    }

    #section-main-content{
        margin: 0px 0 40px;
        .dexp-shortcodes-box{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 50px;
            @media @larger-phone-width-up{
                &:hover{
                    .box-icon{
                        background: @bright-blue;
                        &:before{
                            top: calc(~"-50% - 15px");
                            opacity: 0;
                        }
                        &:after{
                            top: calc(~"50% - 15px");
                            opacity: 1;
                        }
                    }
                }
            }
            .box-icon{
                float: none;
                display: flex;
                justify-content: center;
                width: 60px;
                min-width: 60px;
                height: 60px;
                background: #fff;
                border-radius: 100%;
                border: 1px solid #009fda;
                transition: 0.2s linear;
                &:before{
                    content: '';
                    position: absolute;
                    top: calc(~"50% - 15px");
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    opacity: 1;
                    transition: 0.2s linear;
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: calc(~"150% - 15px");
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    opacity: 0;
                    transition: 0.2s linear;
                }
                /* ICONS */
                &.updateDetail{
                    &:before{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/details-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/details-W.png);
                    }
                }
                &.categoriesFee{
                    &:before{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/categories-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/categories-W.png);
                    }
                }
                &.Benefit{
                    &:before{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/benefit-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/benefit-W.png);
                    }
                }
                &.NationalGroup{
                    &:before{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/governance-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/governance-W.png);
                    }
                }
                &.Information{
                    &:before{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/insurance-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/insurance-W.png);
                    }
                }
                &.Committee{
                    &:before{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/renew-B.png);
                    }
                    &:after{
                        background-image: url(/sites/default/files/MEMBERSHIP/membership-icons/renew-W.png);
                    }
                }
            }
            .box-title{
                margin: 10px 0;
                font-size: 1.6em;
                font-weight: 600;
                font-family: Roboto!important;
                text-align: center;
            }
            .box-content{
                text-align: center;
                margin: 10px 0;
                p{
                    font-size: 1.4em;
                }
            }
        }
    }
    #section-main-content{
        #membership-features{
            display: flex;
			flex-wrap: wrap;
			margin: 80px 0 40px;
        }
        .dexp-shortcodes-box{
            p{
                margin: 0;
            }
            .box-content{
                .dexp-shortcodes-button{
                    font-size: 0;
                    background: none!important;
                    border: 0px solid #009fda;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    &:hover{
                        background: none!important;
                        border: 0px solid #009fda!important;
                    }
                }
            }  
		}
		@media all and (max-width: @tablet-width + 1px) {
            .dexp-shortcodes-box{
                padding: 15px 30px;
            }
        }
        @media all and (max-width: @larger-phone-width) {
            .dexp-shortcodes-box{
                padding: 5px 20px 15px;
                border-bottom: 1px solid #e7e8e9; 
                margin: 0 10px;
            }
        }
    }
    #section-ad-block{
        background: #fff!important;
    }
}

@media (min-width: 768px) and (max-width: 830px) {
	.ProgressHolder {
		width: 730px;
		transform: scale(0.9);
		margin-left: -20px;
	}
}

@media all and (max-width: 767px) {
	.ProgressHolder {
		display: none;
	}
}

/*  */
.page-node-322 {
	#section-parallax-first{
		> .dexp-container{
			> .row{
				margin: 0;
				>.region{
					padding: 0;
				}
			}
		}
		#block-block-256{
			.rightPanel{
				margin-left: auto;
			}
		}
	}
}

/* membership/categories-fee 'view' setting */
#tttasdf {
	div[id^="membership-type-block-"]{
		.node section.post-content {
			padding-top: 0;
		}
	}
}