/* --------------------------------------------------------- */
/* ------------------- APA Advertisement ------------------- */
/* --------------------------------------------------------- */
.GetCentreLayout {
	left: 0;
	width: 100%;
	position: fixed;
	top:100%;
	z-index: 99999;
	.ASection .Desktop {
		display: block;
		max-width: 1450px;
		z-index: 99999;
		min-height: 37px;
		margin: auto;
		display: flex;
		align-items: center;
		margin-top: -84px;
		p{
			margin: 0;
			padding-left: 5px;
		}
	}
	.ASection .Mobile {
		display: none;
		width: 234px;
		z-index: 1000;
		margin: auto;
		margin-top: -140px;
	}
}
@media screen and (max-width: 600px) {
	.GetCentreLayout .ASection .Desktop {
		display: none;
	}
	.GetCentreLayout .ASection .Mobile {
		display: block;
	}
}