/* --------------------------------------------------------- */
/* --------------------- APA Advocacy ---------------------- */
/* --------------------------------------------------------- */
/*section[id^="testerviewadvocacy-block"]
content/testtest*/
*[id^="sections"] {
	float: left;
	height: 150px;
	width: 150px;
	border-width: 15px;
	border-style: solid;
	border-radius: 50%;
	margin-top: 15px;
	transition: 0.7s;
	transition-timing-function: cubic-bezier(0.15,0.15,0.51,1.54);
	-webkit-transition-timing-function: cubic-bezier(0.15,0.15,0.51,1.54);
}
section .sectionSub {
	text-align: center;
	line-height: 107px;
}
section.focusedAdv .sectionSub {
	line-height: 126px;
}
*[id^="sections"] h2 { 
	font-size: 19px;
    margin: auto auto auto 11px;
    width: 125px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
#testerviewadvocacy-block section:first-child {
	border-color: rgb(0,159,218);
}
#testerviewadvocacy-block section:first-child h2 {
	color: rgb(0,159,218);
}
#testerviewadvocacy-block section:nth-child(3) {
	border-color: rgb(195,200,200);
}
#testerviewadvocacy-block section:nth-child(3) h2 {
	color: rgb(195,200,200);
}
#testerviewadvocacy-block section:nth-child(5) {
	border-color: rgb(255,160,47);
}
#testerviewadvocacy-block section:nth-child(5) h2 {
	color: rgb(255,160,47);
}
#testerviewadvocacy-block section:nth-child(7) {
	border-color: rgb(162,173,0);
}
#testerviewadvocacy-block section:nth-child(7) h2 {
	color: rgb(162,173,0);
}
section.focusedAdv {
	opacity: 1;
	float: left;
	height: 175px;
	width: 175px;
	border-width: 21px;
	border-style: solid;
	border-radius: 50%;
	margin-top: 0;
}
section.unfocusedAdv {
	opacity: 0.3;
}
.sectionContentSub {
	text-align: center;
	line-height: 450px;
}
.sectionContentSub .field-item {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
#testerviewadvocacy-block section.focusedAdv h2 {
	color: white;
	font-size: 23px;
    width: 124px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.sectionDots span{
	//float: left;
	width: 5%;
	color: white;
}
.advocacyContent p {
	color: white;
}
div#block-views-testerviewadvocacy-block-1 #testerviewadvocacy-block-1,
div#block-views-testerviewadvocacy-block-4 #testerviewadvocacy-block-4,
div#block-views-testerviewadvocacy-block-7 #testerviewadvocacy-block-7,
div#block-views-testerviewadvocacy-block-10 #testerviewadvocacy-block-10,
div#block-views-testerviewadvocacy-block-1,
div#block-views-testerviewadvocacy-block-4,
div#block-views-testerviewadvocacy-block-7,
div#block-views-testerviewadvocacy-block-10 {
	height: 450px;
	overflow: hidden;
	margin-bottom: 113px;
}
.leftArrow a {
	position: absolute;
	margin-left: -40px;
}
.rightArrow {
	text-align: right;
}
.rightArrow a {
	position: absolute;
	margin-left: 15px;
}
.leftArrow a span.glyphicon, .rightArrow a span.glyphicon {
	margin-top: 200px;
	padding: 18px 4px;
	color: white;
	border: 0.5px solid white;
	background: transparent;
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.15,0.15,0.51,1.54);
	-webkit-transition-timing-function: cubic-bezier(0.15,0.15,0.51,1.54);
}
.leftArrow a span.glyphicon:hover, .rightArrow a span.glyphicon:hover {
	color: rgb(0,159,218);
	background-color: white;
	border: 0.5px solid rgb(0,159,218);
}
div#block-views-testerviewadvocacy-block-2,
div#block-views-testerviewadvocacy-block-5,
div#block-views-testerviewadvocacy-block-8,
div#block-views-testerviewadvocacy-block-11 {
	position: absolute;
	top: -195px;
	left: 0;
	width: 100%;
	z-index: -1;
}
.advocacyBackgroundSub .advocacyBackgroundImage {
	height: 820px;
	background-repeat: no-repeat !important;
	width: 100%;
	background-size: cover !important;
	position: absolute;
	z-index: -3;
}
.advocacyBackground{
	position: absolute;
}
.advocacyBackgroundCover {
	background-color: black;
	width: 100%;
	height: 820px;
	opacity: 0.75;
	z-index: -1;
	position: absolute;
}