/* --------------------------------------------------------- */
/* --------------------- APA Campaign ---------------------- */
/* --------------------------------------------------------- */

/*--PREDEFINED COLOURS--*/
@light-grey: rgb(242, 243, 244);
@light-transparent-background: rgba(255, 255, 255, 0.9);
@dark-background: rgb(94, 96, 103);
@dark-transparent-background: rgba(94, 96, 103, 0.8);
@bright-blue: rgb(0, 159, 218);
@brighter-blue: rgb(0,184,241);
@blue: #009fda;
@grey: #b5b5b5;
@alt-grey: #e7e8e9;
@orange: #ffa02e;

/*--RESPONSIVE BREAKPOINTS--*/
@phone-width: 480px;
@larger-phone-width: 570px;
@tablet-width: 768px;
@larger-tablet-width: 992px;
@desktop-width: 1200px;
@larger-desktop-width: 1500px;

.CampaignItems .node-teaser h2 {
	position: absolute;
	width: 90%;
	padding: 48px 22px;
	margin: 0;
	height: 100%;
	background-color: rgba(94,97,103,0.7);
	text-align: center;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: 500;
}
.CampaignItems .node-teaser h2:hover {
	background-color: rgba(94,97,103,0.2);
}
.CampaignItems .node-teaser h2 a {
	color: white;
}
#current-apa-campaign-block-2 {
	margin-top: 20px;
}
#block-views-current-apa-campaign-block {
	padding: 5px 0 20px;
}
#section-initiatives-we-support {
	padding: 50px 0 70px;
}
.node-type-apa-campaigns #section-main-content .container {
	margin-top: 20px;
}
.CampaignSidebar .headline {
	font-weight: 100;
	font-size: 15px;
	padding: 0;
}
.CampaignSidebar .brd-headling {
	margin-bottom: 1px;
	border-bottom: 3px solid rgba(94,97,103,0.7);
}
.CampaignSidebar .views-field-title {
	margin: 5px 15px 2px 14px;
	border-bottom: 0.5px solid rgba(195,200,200,0.5);
	padding: 10px 0;
}
.CampaignSidebar .views-field-title a {
	color: black;
	font-size: 15px;
	font-weight: 500;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
	transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
	letter-spacing: 1px;
	&.active{
		color: @bright-blue;
	}
}
.CampaignSidebar .views-field-title a:hover {
	color: rgb(195,200,200);
}
.MainContent .node-apa-campaigns .field-name-field-campaignimage img {
	margin: 0 0 20px;
}
.MainContent .node-initiative-campaigns .field-name-field-init-image img {
	margin: 0 0 20px;
}


/* CAMPAIGN MAIN CONTENT / ABOUT || CHOOSE PHYSIO*/
.page-node-528, .page-node-547{

	/* MAIN CONTENT */
	#section-main-content{
		@media @larger-tablet-width-down{
			padding: 50px 0px;
			.MainContent{
				width: 100%;
			}
		}
	}

	/* BANNER */
	#section-banner{
        #block-block-301{
            min-height: 600px;
            display: flex;
            justify-content: center;
			align-items: center;
			@media @desktop-width-down{
				min-height: 400px;
			}
			@media @tablet-width-down{
				min-height: 300px;
			}
			@media @larger-phone-width-down{
				min-height: 200px;
				.img-parallax{
					display: block;
				}
			}
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.05);
            }
            .header-banner{
                h1{
                    font-family: Roboto;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 5em;
                    line-height: 1em;
                }
            }
            .content{
                text-align: center;
                position: relative;
            }
            @media all and (max-width: @larger-phone-width) {
                .header-banner{
                    h1{
                        font-size: 3em;
                    }
                }
			}
			@media @tablet-width-down{
				.header-banner h1{
					font-size: 4em;
				}
			}
			@media @larger-phone-width-down{
				.header-banner h1{
					font-size: 3em;
				}
			}
			@media @phone-width-down{
				.header-banner h1{
					font-size: 2.5em;
				}
			}
        }
    }
	/* ABOUT SECTION */
	h1.SectionHeader, .block-title{
		font-weight: 500;
		font-size: 3.5em;
		line-height: 1.1em;
		display: block;
		font-family: Cairo;
		@media @larger-phone-width-down{
			font-size: 3em;
		}
	}
	h2.SectionHeader{
		font-size: 2.2em;
		font-weight: 600;
		font-family: Roboto;
		padding-bottom: 0.5em;
		margin-top: 50px;
		@media @larger-phone-width-down{
			font-size: 1.7em;
			margin-top: 30px;
		}
	}
	p{
		line-height: 20px;
		margin: 0;
		margin-bottom: 10px !important;
		font-size: 1.2em;
		color: black;
	}
	ul.text{
		padding-left: 0px;
		color: #000;
		font-size: 1.2em;
		list-style: none;
		li{
			border-bottom: 0;
			line-height: 1.2em;
			position: relative;
			&:before{
				content: '';
				width: 3px;
				height: 3px;
				background: #000;
				border-radius: 100px;
				display: inline-block;
				margin-right: 10px;
				position: relative;
				top: -3px;
			}
		}
	}
	.sub-heading{
		font-weight: 500;
	}
	.embed-container {
		position: relative; 
		padding-bottom: 44.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%; 
		margin-top: 50px;
		iframe{	 
				position: absolute; 
				top: 0; 
				left: 0; 
				width: 100%; 
				height: 100%; }
	}

	/* MIDDLE PARALLAX IMG */
	#section-latest-works{
		margin: 100px 0;
	}
	#block-block-302{
		min-height: 500px;
	}

	/* CAMPAIGN TOOLKIT SECTION */
	#section-content-bottom-second{
		background:none!important;
		border: none;
		margin-bottom: 100px;
		@media @tablet-width-down {
			margin-bottom: 50px;
		}
		@media @phone-width-down {
			margin-bottom: 10px;
		}
		#node-528;
		.block-title{
			margin-bottom: 50px;
		}
		.featured-img-left{
			margin: 50px 0 20px;
			display: flex;
			.img{
				width: 20%;
				min-width: 294px;
			}
			.content{
				padding-left: 50px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			@media @tablet-width-down{
				flex-direction: column;
				.img{
					display: none;
				}
				.content{
					padding: 0 30px;
				}
			}
			@media @phone-width-down{
				.content{
					padding: 0 15px;
				}
			}
		}
	}

	/* DYNAMIC SECTION */
	#section-content-bottom-third{
		background: #e7e8e9!important;
		padding-bottom: 50px;
		.media_filter{
			ul{
				display: flex;
				justify-content: center;
				@media @larger-phone-width-down{
					padding-left: 0;
				}
				li{
					min-width: 200px;
					text-align: center;
					border: 0.5px #c0c2c4 solid;
					border-right: 0px;
					margin: 0;
					&:last-of-type{
						border-right: 0.5px #c0c2c4 solid;
					}
					a{
						color: #333;
						font-weight: 500;
					}
					&:hover{
						background: @bright-blue;
						a{
							color: #fff;
						}
					}
					&.active{
						background: @bright-blue;
						a{
							color: #fff;
						}
					}
				}
			}
			@media @tablet-width-down {
				ul{
					li{
						min-width: 170px;
					}
				}
			}
			@media @larger-phone-width-down {
				ul{
					li{
						min-width: 140px;
					}
				}
			}
			@media @phone-width-down {
				ul{
					li{
						min-width: 105px;
					}
				}
			}
		}
		.heading-wrapper{
			text-align: center;
			max-width: 1300px;
			margin: 40px auto 0;
			display: block;
			.sub-heading{
				font-size: 2.1em;
				font-weight: 700;
				color: #333;
				line-height: 1.1em;
			}
			.intro{
				color: #000;
				margin-top: 15px;
    			display: block;
			}
			@media @larger-phone-width-down{
				.sub-heading{
					font-size: 1.9em;
					display: block;
					padding-top: 30px;
				}
			}
		}

		/* POSTERS */
		.posters{
			max-width: 1300px;
			margin: 0 auto;
			margin-top: 40px;
			.poster-title{
				color: @bright-blue;
				font-size: 1.4em;
				font-weight: 700;
				margin-bottom: 10px;
				display: block;
			}	
			.poster-grid{
				display: flex;
				justify-content: flex-start;
				position: relative;
				flex-wrap: wrap;
				margin-left: -25px;
				margin-right: -25px;
				.item{
					width: 25%;
					padding: 0 25px;
					@media @tablet-width-down{
						width: 33.33%;
						padding: 0 25px 50px 25px;
					}
					@media @larger-phone-width-down{
						width: 50%;
    					padding: 15px;
					}
				}
			}
		}
		
		/* VIDEO GRID  */
		.video-grid{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.item{
				width: 33.33%;
				padding: 15px;
				display: flex;
				flex-direction: column;
				@media @tablet-width-down {
					width: 50%;
				}
				@media @phone-width-down {
					width: 100%;
				}
				.embed-container{
					position: relative; 
					padding-bottom: 56.25%; 
					height: 0; 
					overflow: hidden; 
					max-width: 100%; 
					margin: 25px 0;
					iframe{	 
							position: absolute; 
							top: 0; 
							left: 0; 
							width: 100%; 
							height: 100%; }
				}
				.link-type{
					display: flex;
					align-items: center;
					flex-wrap: nowrap;
					margin: 3px 0;
					span{
						font-size: 1em;
						color: @bright-blue;
						font-weight: 500;
						min-width: 100px;
					}
					input{
						max-height: 30px;
						min-height: 30px;
						font-size: 1em;
						background: #fff;
						width: 100%;
						padding: 5px 10px;
						cursor: default;
					}
				}
			}
		}

		/* BROCHURE GRID */
		.brochure-grid{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			max-width: 1300px;
			margin: 0 auto;
			flex-wrap: wrap;
			.item{
				max-width: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 35px;
				position: relative;
				@media @tablet-width-down{
					padding: 25px;
				}
				@media @larger-phone-width-down{
					max-width: 100%;
				}
				.bruchure-title{
					text-align: center;
					font-size: 1.4em;
					font-weight: 500;
					color: @bright-blue;
					margin-bottom: 25px;
					@media @larger-phone-width-down{
						max-width: 100%;
					}
				}
				a{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		/* DIGITAL ASSETS - IMAGE GRID */
		ol{
			max-width: 1300px;
			margin: 0 auto;
			padding: 0 35px;
			font-size: 1.2em;
			color: #000;
			font-weight: 400;
			margin-top: 50px;
			@media @tablet-width-down{
				margin-top: 20px;
			}
			@media @larger-phone-width-down{
				margin-top: 0;
				padding: 0 25px;
			}
		}
		.image-grid{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 1300px;
			margin: 0 auto;
			flex-wrap: wrap;
			margin-top: 50px;
			.item{
				max-width: 30%;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px;
				position: relative;
				@media @larger-tablet-width-down{
					max-width: 49%;
				}
				@media @phone-width-down{
					max-width: 98%;
				}
				br{
					display: none;
				}
				.image-title{
					font-size: 1.7em;
					font-weight: 400;
					color: #000;
					align-self: flex-start;
					margin-top: 5px;
				}
				a{
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					margin: 20px;
				}
			}
		}
	}

	#section-content-bottom-fourth{
		#block-block-305{
			margin-bottom: 50px;
		}
		#node-528;
		margin: 100px 0;
		.block-title{
			margin-bottom: 50px;
		}
		.region-user20{
			margin-top: 60px;
		}

		/* Q&A SECTION */
		.accordian-container{
			.item{
				margin-bottom: 20px;
			}
			.acordian-label{
				color: #333;
				font-size: 1.2em;
				font-weight: 500;
				margin-bottom: 20px;
				padding-left: 30px;
				position: relative;
				cursor: pointer;
				&::before{
					content: '+';
					position: absolute;
					font-size: 1.5em;
					color: #009fda;
					left: 0px;
					top: -7px;
					display: flex;
				}
				&.active{
					margin-bottom: 0px;
					& + .accordian-content{
						margin-bottom: 20px;
					}
					&::before{
						content: '-';
					}
				}

			}
			.accordian-content{
				margin-bottom: 0;
				padding-left: 30px;
			}
		}
	}
	.dark-link{
		color: #000;
		transition: all .2s linear;
		&:hover{
			color: @bright-blue;
		}
	}
	.cta-link{
		a{
			color: @bright-blue;
		}
	}
	.back-to-top{
		padding-left: 0;
		color: #000;
		text-decoration: underline;
		margin-top: 25px;
		transition: all .2s linear;
		display: block;
		&:hover{
			color: @bright-blue;
		}
	}
}

/* ABOUT CAMPAIGN MOBILE SPECIFIC */
.page-node-528{
	/* FULL WIDTH MIDDLE BANNER */
	#section-main-content + .container{
		padding: 0;
		margin: 80px 0;
		max-width: unset;
	}
	@media @larger-tablet-width-down{
		#block-block-302{
			min-height: 400px;
    		padding: 290px 0 60px!important;
		}
	}
	@media @larger-tablet-width-down{
		/* REMOVING EXCCESIVE PADDING */
		#section-content-bottom-second{
			.container{
				div[class^="col-"]{
					padding: 0;
				}
			}
			.featured-img-left{
				margin: 25px 0 20px;
			}
			.content{
				padding: 0;
			}
		}
		#section-content-bottom-fourth{
			margin: 50px 0;
		}

		/* REDUCE MIDDLE BANNER SIDE */
		#block-block-302{
			padding: 150px 60px !important;
			min-height: unset;
		}
	}
	@media @larger-phone-width-down{
		#block-block-302{
			padding: 100px 60px!important;
		}

		#section-main-content + .container{
			padding: 0;
			margin: 50px 0;
			max-width: unset;
		}

		/* MEDIA SECTION */
		#section-content-bottom-third{
			.media_filter{
				ul li{
					min-width: 140px;
				}
			}
		}
	}
	@media @phone-width-down{
		/* MEDIA SECTION */
		#section-content-bottom-third{
			.media_filter{
				ul{
					flex-wrap: wrap;
					li{
						min-width: 49%;
						font-size: 0.9em;
						margin: 1px;
						width: 49%;
						border: 0.5px #c0c2c4 solid;
					}
				}
			}
		}
	}
}

/* CHOOSE PHYSIO SPECIFIC */
.page-node-547{
	#section-main-content{
		padding: 100px 0;
		@media @larger-tablet-width-down{
			.MainContent{
				width: 100%;
			}
		}
		@media @larger-phone-width-down{
			padding: 50px 0;
		}
	}
	h1.SectionHeader{
		margin: 5px 0 50px;
		@media @larger-phone-width-down{
			font-size: 3em;
		}
	}
	.pre-header{
		font-family: Cairo;
		font-size: 2em;
		font-weight: 700;
		color: @bright-blue;
		@media @larger-phone-width-down{
			font-size: 1.7em;
			line-height: 1em;
			margin-bottom: 10px;
		}
	}
	#section-content-bottom-second{
		.page-node-528 #section-content-bottom-third;
		background: #e7e8e9!important;
		.media_filter{
			margin-bottom: 50px;
		}
		.video-grid{
			.item{
				.embed-container{
					margin: 0;
				}
				.link-type{
					display: none;
				}
			}
		}
		.radio-wrapper, .full-img-wrapper{
			position: relative;
			max-width: 700px;
    		margin: 0 auto;
			br{
				display: none;
			}
			.radio{
				margin: 0 auto;
				padding: 0;
				width: 100%;
			}
			.radio-btn{
				position: absolute;
				width: 12%;
				height: 12.354%;
				top: 55%;
				left: 45%;
				border-radius: 100%;
				background-image: url(/sites/default/files/CAMPAIGNS/radio/RADIO-button-glow.png);
				background-size: 100%;
				font-size: 0;
				transform: scale(1.2);
				background-position: center center;
				background-repeat: no-repeat;
				animation-name: audio-pulse;
				animation-duration: 1.5s; 
				animation-timing-function: ease-out; 
				animation-delay: 0;
				animation-direction: alternate;
				animation-iteration-count: infinite;
				animation-fill-mode: none;
				animation-play-state: running;
				&:after{
					content: '';
					position: absolute;
					background-image: url(/sites/default/files/CAMPAIGNS/radio/radio-play-btn.png);
					width: 100%;
					height: 100%;
					background-size: 60%;
					background-position: center center;
					background-repeat: no-repeat;
				}
				&.pause{
					animation-duration: 0s;
					animation-play-state: paused;
					transform: scale(1);
					background-size: 50%;
					&:after{
						content: '';
						background-image: url(/sites/default/files/CAMPAIGNS/radio/radio-pause-btn.png);
					}
				}
			}
		}
		.full-img-wrapper{
			max-width: 100%;
		}
		#block-block-299{
			#section03-content{
				.full-img-wrapper{
					img{
						@media @larger-phone-width-down{
							margin: 0 auto;
							padding: 0;
							width: 250%;
							position: relative;
							max-width: unset;
							left: -77.5%;
						}
					}
				}
			}
		}
	}
	#section-content-bottom-third{
		.page-node-528 #section-content-bottom-second;
		.featured-img-left{
			.content{
				justify-content: flex-start;
			}
		}
		.light-separator{
			height: 2px;
			background: #ebeded;
			margin: 80px 0;
			& + .featured-img-left{
				margin: 20px 0;
			}
			@media @tablet-width-down{
				margin: 50px 0;
			}
		}
	}
}


/* CAMPAIGN SIDEBAR */
@standard-spacing: 15px;
.nav-block{
	margin-top: @standard-spacing;
	br{
		display: none;
	}
	.link-block{
		display: flex;
		flex-direction: row;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		color: #fff;
		padding: 15px 15px 15px 0;
		font-size: 1.2em;
		font-family: Cairo;
		background: @bright-blue;
		margin-top: 1px;
		transition: all .2s linear;
		&:hover{
			color: #fff;
			background: @brighter-blue;
		}
		.link-block-title{
			font-size: 1.3em;
		}
		.link-block-icon{
			min-width: 60px;
			height: 30px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			&.choose-physio{
				background-image: url(/sites/default/files/CAMPAIGNS/icons/choose-physio-W.png);
			}
			&.about{
				background-image: url(/sites/default/files/CAMPAIGNS/icons/info-W.png);
			}
			&.toolkit{
				background-image: url(/sites/default/files/CAMPAIGNS/icons/toolkit-W.png);
			}
			&.faq{
				background-image: url(/sites/default/files/CAMPAIGNS/icons/faq-W.png);
			}
		}    
	}
	.link-description{
		color: #707070;
		font-size: 1.2em;
		font-weight: 500;
		padding: @standard-spacing 0;
		display: block;
		font-family: Roboto;
	}
}

.page-node-528, .page-node-547{
	.region-right-sidebar{
		h3.headline{
			font-weight: 500;
			font-size: 1.4em;
			padding: 0;
			color: #5e6067;
			font-family: Roboto;
			letter-spacing: 0.5px;
		}
		.brd-headling{
			display: none;
		}
	}
}

/* CAMPAIGN - DIGITAL ASSETS HOVER EFFECT */
#block-block-304 .image-grid .item{
	opacity: 1;
	transition: all .3s ease-in-out;
	&.faded{
		opacity: 0.6;
	}
}

/* RADIO PULSE ANIMATION */
@keyframes audio-pulse {
	0% {
		background-size: 70%;
		transform: scale(0.95);
	}
	70%{
		transform: scale(1);
		background-size: 100%;
	}
	100% {
		background-size: 70%;
		transform: scale(0.95);
	}
}
@-webkit-keyframes audio-pulse {
	0% {
		background-size: 70%;
		transform: scale(0.95);
	}
	70%{
		transform: scale(1);
		background-size: 100%;
	}
	100% {
		background-size: 70%;
		transform: scale(0.95);
	}
}