.Main{
	width:547px;
	float:left;
	height:540px;
}
.Mainright{
	width:566px;
	float:right;
	height:540px;
}
.First{
    float:left;
	padding:0;
}
.Second{
    float:right;
	padding:0;
}
.Third{
    float:left;
	padding:0;
}
.Addverstise{
	float:right;
	padding:0;
}
.Main iframe.media-youtube-player{
    width: 570px!important;
    height: 534px!important;
}
.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Addverstise iframe.media-youtube-player{
    width: 280px!important;
    height: 265px!important;
	margin-bottom: -2px;
	margin-right: 3px;
}
/* ---------------------- Mediascreen Added by Jinghu ---------------------- */

@media screen and (max-width: 1200px) {
.Main {
    width: 100%!important;
	
}
.Main iframe.media-youtube-player{
    width: 100%!important;
    
}
.Mainright{
	width:100%;
}
.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Addverstise iframe.media-youtube-player{
    width: 100%!important;
	margin-right: 3px;
}
.First, .Second, .Third, .Addverstise{
    width:49.8%;
	
}
}