.Main{
	width:49.95%;
	float:left;
	height:385px;
}
.Mainright{
	width:49.7%;
	float:right;
	height:385px;
}
.First, .Second, .Third, .Advertise {
	width: 49.6%;
}
.First{
    float:left;
	padding:0;
}
.Second{
    float:right;
	padding:0;
}
.Third{
    float:left;
	padding:0;
}
.Advertise{
	float:right;
	padding:0;
}
.Main .image {
	background-position: center;
	background-size: cover;
}
.Main iframe.media-youtube-player, .Main .image{
    width: 100% !important;
    height: 385px !important;
}
.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Advertise iframe.media-youtube-player,
.First .image,  .Second .image,  .Third .image,  .Advertise .image {
    width: 100% !important;
    height: 191px !important;
	margin-bottom: -2px;
	margin-right: 3px;
}

.HomeTitle {
	position: absolute;
	padding: 25px;
	bottom: 0;
	font-size: 15px;
	color: white;
}

/* homepage bottom - Eddy */

/* log-in */
#loginAT .form-container {
	width: 80%;
	margin: auto;
}
#loginAT .form-container input:not(#remember) {
	width: 100%;
}
#loginAT .form-container .forgotPS {
	float: right;
}
#loginAT .form-container:nth-child(3) {
	text-align: center;
}

/* Homepage bottom */
.homeBottom {
	margin-bottom: 15px;
}
.HomeType .field-item {
	position: absolute;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 3px 5px;
    margin: 6px 10px;
    font-weight: 700;
}
.HomeType .Publication .field-item {
	background-color: rgb(162,173,0);
}
.HomeType .Events .field-item {
	background-color: rgb(255,160,47);
}
.HomeType .State .field-item {
	background-color: rgb(137,159,153);
}
.HomeType .latest .field-item {
	background-color: rgb(146,0,117);
}
.portfolio-image .HomeType,
.description {
	display: block;
}
.movSection {
	display: none;
}
#home-tile-view-block .homeBottom .content {
	border: 0.5px solid rgb(195,200,200);
}
#home-tile-view-block .homeBottom .content .item-description {
	padding: 10px 10px 40px 20px;
	height: 130px;
}
#home-tile-view-block .homeBottom .content .item-description h5 {
	margin-bottom: 20px;
}
#home-tile-view-block .homeBottom .content .item-description h5 a {
	color: black;
	font-size: 16px;
}
#home-tile-view-block .homeBottom .content .item-description .dateHome {
	float: left;
	font-size: 13px;
	font-weight: 700;
}
#home-tile-view-block .homeBottom .content .item-description .MonlyIconHolder {
	float: right;
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin: 5px;
}
#home-tile-view-block .homeBottom .content .item-description .MonlyIconHolder .MonlyIcon {
	background-image: url('/sites/default/files/MEMBER ICON.png');
	background-position: 0 40px;
	width: 20px;
	height: 20px;
}
#home-tile-view-block .homeBottom .content .item-description .NextIconHolder {
	float: right;
	width: 31px;
	height: 31px;
	overflow: hidden;
}
#home-tile-view-block .homeBottom .content .item-description .NextIconHolder .NextIcon {
	background-image: url('/sites/default/files/CIRCLE POINTERS.png');
	background-position: 0 62px;
	width: 31px;
	height: 31px;
}
@media screen and (max-width: 767px) {
	.homeBottom {
		margin-bottom: 0px;
	}
	#home-tile-view-block .homeBottom .content .portfolio-image {
		margin: 15px 0;
		float: left;
		width: 30%;
	}
	#home-tile-view-block .homeBottom .content .item-description {
		float: left;
		width: 70%;
		padding-bottom: 5px;
		height: 100px;
	}
	.portfolio-image .HomeType,
	.description {
		display: none;
	}
	.movSection	{
		display: block;
	}
	#home-tile-view-block .homeBottom .content .movSection .MonlyIconHolder {
		float: left;
	}
	.item-description .HomeType .field-item {
		position: inherit;
		margin: 6px 2px;
		float: left;
	}
	#home-tile-view-block .homeBottom .content .item-description h5 {
		margin-bottom: 2px;
		margin-top: 2px;
	}
}

/* ---------------------- Mediascreen Added by Jinghu ---------------------- */
@media screen and (max-width: 992px) {
	.Main {
		width: 100%;
		margin-bottom: 2px;
	}
	.Main iframe.media-youtube-player, .Main .image{
		width: 100% !important;
	}
	.Mainright{
		width:100%;
	}
	.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Advertise iframe.media-youtube-player,
	.First .image,  .Second .image,  .Third .image,  .Advertise .image{
		width: 100%!important;
		margin-right: 3px;
		margin-bottom: -4px;
	}
	.First, .Second, .Third, .Advertise{
		width:49.8%;
	}
}


@media screen and (min-width: 640px) and (max-width: 767px) {
	.Main {
		height: 340px;
	}
	.Main iframe.media-youtube-player, .Main .image{
		height: 340px !important;
	}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
	.Main {
		height: 290px;
	}
	.Main iframe.media-youtube-player, .Main .image{
		height: 290px !important;
	}
	.Mainright{
		height: 300px;
	}
	.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Advertise iframe.media-youtube-player,
	.First .image,  .Second .image,  .Third .image,  .Advertise .image{
		height: 148px !important;
	}
}
@media screen and (min-width: 380px) and (max-width: 479px) {
	.Main {
		height: 240px;
	}
	.Main iframe.media-youtube-player, .Main .image{
		height: 240px !important;
	}
	.Mainright{
		height: 300px;
	}
	.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Advertise iframe.media-youtube-player,
	.First .image,  .Second .image,  .Third .image,  .Advertise .image{
		height: 148px !important;
	}
}
@media screen and (max-width: 379px) {
	.Main {
		height: 220px;
	}
	.Main iframe.media-youtube-player, .Main .image{
		height: 220px !important;
	}
	.Mainright{
		height: 270px;
	}
	.First iframe.media-youtube-player,  .Second iframe.media-youtube-player,  .Third iframe.media-youtube-player,  .Advertise iframe.media-youtube-player,
	.First .image,  .Second .image,  .Third .image,  .Advertise .image{
		height: 133px !important;
	}
}