/* --------------------------------------------------------- */
/* MEDIA PAGE CONTENT
/* --------------------------------------------------------- */

/*--PREDEFINED COLOURS--*/
@light-grey: rgb(242, 243, 244);
@light-transparent-background: rgba(255, 255, 255, 0.9);
@dark-background: rgb(94, 96, 103);
@dark-transparent-background: rgba(94, 96, 103, 0.8);
@bright-blue: rgb(0, 159, 218);
@brighter-blue: rgb(0,184,241);
@blue: #009fda;
@grey: #b5b5b5;
@light-grey: #f5f5f5;
@alt-grey: #e7e8e9;
@orange: #ffa02e;

/*--RESPONSIVE BREAKPOINTS--*/
@phone-width: 480px;
@larger-phone-width: 570px;
@tablet-width: 768px;
@larger-tablet-width: 992px;
@desktop-width: 1200px;
@larger-desktop-width: 1500px;


.page-node-273 #section-main-content .container .region-right-sidebar {
	right: -800px;
	transition: 0.3s;
    transition-timing-function: cubic-bezier(0.15, 0.15, 0.51, 1.54);
    -webkit-transition-timing-function: cubic-bezier(0.15, 0.15, 0.51, 1.54);
}
.page-node-273 #section-main-content .container .region-right-sidebar#out {
	right: -800px;
}
.page-node-273 #section-main-content .container .region-right-sidebar#in {
	right: 0px;
}
.HamburgerTesterButton {
	float: right;
	margin: -12px 0 0 750px;
	position: absolute;
}
.HamburgerTesterButton .HamburgerTester {
	
}

/* --------------------------------------------------------- */
/* ----------------------- APA Media ----------------------- */
/* --------------------------------------------------------- */

#block-block-133 .clearfix {
	display: none;
}
#block-block-136 .clearfix {
	display: none;
}
#block-views-blog-categories-block-3 .content .view-display-id-block_3 .view-content {
	Overflow: auto;
	Width: 100%;
}
.node-type-media .content .node-media ul li, .node-type-media .content .node-media ol li {
	color: #333;
}
ul.socialMediaIcon {
	width: 100%;
	float: left;
	height: 20px;
	padding-left: 0px;
}
ul.socialMediaIcon li{
	list-style-type: none;
	float: inherit;
	margin-right: 8px;
	.fb_iframe_widget{
		top: -2px;
	}
}
.media-tag-list {
	float: left;
	padding: 4px 10px;
	margin: 2px;
	background-color: #fff;
	transition: all .3s;
	border: 1px solid @bright-blue;
}
.media-tag-list:hover {
	background-color: rgb(0,159,218);
}
.media-tag-list a {
	color: white;
}
.media-tag-list:hover a{
	color: white;
}
#block-views-blog-categories-block-3 .clearfix {
	display: none;
}
.MediaListing .node-media {
	padding: 0;
	margin: 5px 0;
}
.MediaListing .post-img {
	width: 41.66666667%;
	float: left;
	padding: 0 15px;
}
.MediaListing .post-content {
	width: 58.33333333%;
	float: left;
	padding: 0 15px;
	margin: 0;
}
.mediaSection .brd-headling {
	border-bottom: 3px solid rgba(94,97,103,0.7);
}
.mediaSection .portfolio-filters ul {
	margin-left: 0;
	padding-left: 0;
}
.mediaSection .portfolio-filters ul li {
	float: left;
}
.mediaSection .portfolio-filters ul li a {
	border-radius: 0;
	text-transform: uppercase;
}
.mediaSection .portfolio-filters ul li a:not(.active) {
	color: #666668;
	border-style: solid;
    border-color: rgba(195,200,200,0.5);
    border-width: 0.5px 0 0.5px 0.5px;
}
.mediaSection .portfolio-filters ul li a.active {
	border: .5px solid rgba(195,200,200,0.5) !important;
}
.mediaSection .portfolio-filters ul li:first-child a {
	border: .5px solid rgba(195,200,200,0.5);
	margin-left: 0;
}
.mediaSection .portfolio-filters ul li:last-child a {
	margin-left: 0;
	border: 0.5px solid rgba(195,200,200,0.5);
}

#block-block-133 ul,#block-block-136 ul  {
	padding-left: 0;
}

div#node-102 .content .item-list .pagination li {
	padding: 0;
	margin: 0;
}
.large .post-content {
	margin: -25px 0 0;
}
.Media_tag .field-item {
	float: left;
	background-color: rgb(0,159,218);
	padding: 4px 10px;
	margin: 2px;
}
.Media_tag .field-item:hover {
	padding: 5px 11px;
	margin: 1px;
}
.Media_tag .field-item a {
	color: white;
}
.Media_tag .field-item:hover a{
	color: white;
}
.node-media .post-img iframe {
	height: 450px;
}
body .block .media_filter, body .media_filter{
	display: flex;
	position: relative;
	padding-top: 50px;
	>ul{
		padding-left: 0;
		width: 100%;
	}
	&.content-tabs{
		.active{
			background-color: @bright-blue;
			a{
				color: #fff;
			}
		}
	}
}
.media_filter ul {
	margin-left: 0;
	padding-left: 0;
}
.media_filter ul li {
	float: left;
    list-style: none;
	padding: 5px;
    border: 0.5px #eceef0 solid;
	margin-right: 2px;
	transition: all .2s linear;
	a{
		color: #afaeae;
	}
	&.active{
		background: @bright-blue;
		a{
			color: #fff;
		}
	}
}
.media_filter ul li a {
	padding: 7px;
}
.media_filter ul li:hover {
	background-color: rgb(0,159,218);
}
.media_filter ul li:hover a {
	color: white;
}
.media_contents_filtered{
	.dexp-grid-items{
		display: flex;
    	flex-wrap: wrap;
	}
}
.PartnersDetail .modal-body {
	height: 710px;
	padding-top: 81px;
}
.PartnersDetail .modal-body h2 {
	margin-top: 0;
	margin-bottom: 21px;
}
.PartnersDetail .modal-body .media {
	margin-bottom: 10px;
}
.PartnersDetail .modal-body .media .mediaholder div:first-child {
	width: 100%;
	padding: 0;
}
.PartnersDetail .modal-body .media .mediaholder div:nth-child(2) {
	padding-left: 0;
	font-weight: bold;
}
.PartnersDetail .modal-body .media .mediaholder div:nth-child(3) {
	padding: 0;
}
.PartnersDetail .modal-body .media .mediaholder div:nth-child(3) img {
	width: 200px;
}
.node-partners {
	overflow: hidden;
}
.node-partners .SponsorSum {
	width: 100%;
	height: 173px;
	background-color: rgba(195, 200, 200, 1);
	top: 0;
	left: 0;
	right: 0;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.54, -0.89, 0.7, 1.41);
	transition-timing-function: cubic-bezier(0.54, -0.89, 0.7, 1.41);
	position: absolute;
	-ms-transform: translateY(110%) translateZ(0);
	transform: translateY(110%) translateZ(0);
}
.node-partners .SponsorSum .sponsor-Sbody {
	padding: 14px;
}
.node-partners .SponsorSum h2 {
	margin-top: 0;
	font-size: 25px;
}
.node-partners .SponsorSum .mediaholder .field-item {
	height: 68px;
	margin: 0 0 5px;
}
.node-partners .SponsorSum .mediaholder p {
	font-size: 15px;
	line-height: normal;
}
.node-partners:hover .SponsorSum {
	-ms-transform: translateY(0);
	transform: translateY(0);
}


	#block-system-main, body{
		.content{
			.field-items{
				.media_contents_filtered{
					.MediaListing{
						display: flex;
						flex-direction: row;
						.post-img{
							width: 40%;
							position: relative;
							background-size: cover!important;
							margin: 15px;
							height: 0;
							padding-bottom: 25%;
							img{
								visibility: hidden;
							}
						}
						.post-content{
							width: 60%;
							padding: 0;
							margin: 15px;
						}
						@media all and (max-width: @tablet-width) {
							flex-direction: column;
							.post-img{
								width: 100%;
								padding-bottom: 50%;
								margin: 0;
							}
							.post-content{
								width: 100%;
								margin: 0;
							}
						}
					}
				}
			}
			.MediaListing{
				display: flex;
				flex-direction: row;
				.post-img{
					width: 40%;
					position: relative;
					background-size: cover!important;
					margin: 15px;
					height: 0;
					padding-bottom: 25%;
					img{
						visibility: hidden;
					}
				}
				.post-content{
					width: 60%;
					padding: 0;
					margin: 15px;
				}
				.more{
					margin-top: 30px;
				}
				@media all and (max-width: @larger-phone-width) {
					
				}
			}
		}
	}

	.page-node-102{
		.third{
			margin: 0;
		}
		#block-block-131{
			@media @desktop-width-down{
				.img-parallax{
					display: none;
				}		
			}
			.content{
				background: rgba(0,0,0,0.15);
			}
			.top-banner{
				padding: 100px 25% 4%;
				.page-main-header{
					color: #fff;
					font-family: Cairo;
					font-size: 4em;
					margin: 0px auto;
					line-height: 1em;
					text-transform: uppercase;
				}
				.separator{
					width: 100%;
					position: relative;
					height: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 0;
					margin: 20px 0;
					&:after{
						content: "";
						position: absolute;
						height: 3px;
						width: 20px;
						background: #fff;
					}
				}
				.text-container{
					font-family: Roboto;
					color: #fff;
					font-size: 1.4em;
					font-weight: 300;
					text-align: left;
				}
				.arrowDown{
					border: 1px #fff solid;
					transform: scale(0.7);
					margin: 25px auto 15px;
				}
				@media all and (max-width: @larger-phone-width){
					padding: 100px 10% 2%;
					.page-main-header{
						font-size: 3em;
					}
					.text-container{
						font-size: 1.2em;
					}
				}
			}
		}  
	
		#block-block-131{
			.sub-top-banner{
				padding: 20px 0;
				margin: 0 auto;
				background: rgba(0, 159, 218, 0.9);
				font-family: Roboto;
				color: #fff;
				font-size: 2em;
				display: flex;
				justify-content: center;
				text-align: center;
				padding: 30px 0;
			}
			@media all and (max-width: @larger-phone-width){
				.sub-top-banner{
					padding: 25px 25px;
					font-size: 1.7em;
					background: rgba(0,159,218,1);
				}
				background-attachment: unset;
				-webkit-background-size: 190%!important;
				-moz-background-size: 190%!important;
				-o-background-size: 190%!important;
				background-size: 190%!important;
				background-position: 50% 0% !important;
					.top-banner{
						background-image: linear-gradient(to top,#000000 0%,#000000 40%,#000000 52%,rgba(255,255,255,0) 85%);                
					.separator{
						margin: 10px 0;
					}
					.page-main-header{
						font-size: 2.5em;
					}
				}
			}
		}
	
		#section-main-content{
			margin: 40px 0 40px;
			@media @larger-tablet-width-down{
				margin: 20px 0 40px;
			}
			@media @larger-phone-width-down{
				margin: 0px 0 40px;
			}
			.dexp-shortcodes-box{
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 15px 50px;
				@media @larger-phone-width-up{
					&:hover{
						.box-icon{
							background: @bright-blue;
							&:before{
								top: calc(~"-50% - 15px");
								opacity: 0;
							}
							&:after{
								top: calc(~"50% - 15px");
								opacity: 1;
							}
						}
					}
				}
				.box-icon{
					float: none;
					display: flex;
					justify-content: center;
					width: 60px;
					min-width: 60px;
					height: 60px;
					background: #fff;
					border-radius: 100%;
					border: 1px solid #009fda;
					transition: 0.2s linear;
					&:before{
						content: '';
						position: absolute;
						top: calc(~"50% - 15px");
						width: 30px;
						min-width: 30px;
						height: 30px;
						background-size: contain;
						background-position: center center;
						background-repeat: no-repeat;
						opacity: 1;
						transition: 0.2s linear;
					}
					&:after{
						content: '';
						position: absolute;
						top: calc(~"150% - 15px");
						width: 30px;
						min-width: 30px;
						height: 30px;
						background-size: contain;
						background-position: center center;
						background-repeat: no-repeat;
						opacity: 0;
						transition: 0.2s linear;
					}
					/* ICONS */
					&.history{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/history-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/history-W.png);
						}
					}
					&.strategicPlan{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/strategic-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/strategic-W.png);
						}
					}
					&.annualReports{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/annual-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/annual-W.png);
						}
					}
					&.governance{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/governance-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/governance-W.png);
						}
					}
					&.workWithUs{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/partners-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/partners-W.png);
						}
					}
					&.theAPATeam{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/team-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/team-W.png);
						}
					}
					&.awardsRecognition{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/award-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/award-W.png);
						}
					}
					&.reconciliation{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/reconciliation-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/reconciliation-W.png);
						}
					}
					&.internationalConnections{
						&:before{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/international-B.png);
						}
						&:after{
							background-image: url(/sites/default/files/ABOUT-US/about-us-icon/international-W.png);
						}
					}
				}
				.box-title{
					margin: 10px 0;
					font-size: 1.6em;
					font-weight: 600;
					font-family: Roboto!important;
					text-align: center;
				}
				.box-content{
					text-align: center;
					margin: 10px 0;
					p{
						font-size: 1.4em;
					}
				}
			}
		}
		#section-main-content{
			#about-us-features{
				display: flex;
				flex-wrap: wrap;
			}
			.dexp-shortcodes-box{
				p{
					margin: 0;
				}
				.box-content{
					.dexp-shortcodes-button{
						font-size: 0;
						background: none!important;
						border: 0px solid #009fda;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						&:hover{
							background: none!important;
							border: 0px solid #009fda!important;
						}
					}
				}  
			}
			@media all and (max-width: @tablet-width + 1px) {
				.dexp-shortcodes-box{
					padding: 15px 30px;
				}
			}
			@media all and (max-width: @larger-phone-width) {
				.dexp-shortcodes-box{
					padding: 5px 20px 15px;
					border-bottom: 1px solid #e7e8e9; 
					margin: 0 10px;
				}
			}
		}
		#section-ad-block{
			background: #fff!important;
		}
	}

/* MEDIA POST LAYOUT */
#section-main-content{
	#block-system-main .content .field-items .media_contents_filtered .MediaListing .post-img{
		margin-left: 0;
	}
	.node-media{
		padding: 30px 0;
		border-top: 1px solid rgba(0,0,0,0.12);
		@media @tablet-width-down{
			padding: 35px 0 30px;
		}
		&:first-child{
			border-top: 0px solid rgba(0,0,0,0.12);
		}
		&:last-child{
			border-bottom: 1px solid rgba(0,0,0,0.12);
		}
		.post-content{
			@media @tablet-width-down{
				padding-top: 30px!important;
			}
			h2{
				font-size: 1.8em;
				line-height: 1.1em;
				padding-top: 10px;
				@media @larger-phone-width-down{
					font-size: 1.6em;
				}
				a{
					letter-spacing: 0;
				}
			}
			.meta{
				ul{
					margin: 0;
					padding: 0;
					li{
						display: inline-block;
						font-weight: 500;
						color: @alt-grey;
						margin: 0 5px 0px 0;
						padding: 0 10px 0 0;
						font-style: normal;
						font-size: 0.8em;
						a{
							color: @alt-grey;
							font-weight: 500;
							text-decoration: underline;
							&:hover{
								color: @bright-blue;
							}
						}
					}
				}
			}
		}
	}
	.pagination.pager{
		margin-bottom: 0;
		padding-top: 30px;
		padding-left: 0;
		li{
			a{
				&:hover{
					font-weight: 700;
					color: #333;
				}
			}
		}
	}
	.media_filter{
		ul{
			@media @larger-tablet-width-down{
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
			@media @larger-phone-width-down{
				font-size: 1em;
			}
			@media all and (max-width: 345px){
				font-size: 0.8em;
			}
		}
	}
}

/* MEDIA POST LAYOUT */
.node-type-media #section-main-content{
	.node-media{
		margin-top: 0;
		padding-top: 0;
		padding-right: 50px;
		@media @larger-tablet-width-down{
			padding-right: 0;
		}
		/* POST FEATURED IMAGE */
		.post-img{
			&.mobile{
				display: none;
				width: 100vw;
				position: relative;
				margin-left: -15px;
				@media @larger-phone-width-down{
					display: block;
					max-height: 200px;
				}
			}
			.content{
				max-height: 400px;
			}
			.fullwidthimage img{
				height: auto;
			}
			@media @larger-phone-width-down{
				display: none;
			}
			.field-name-field-inmotion-image, .field-name-field-home-tile-image{
				.file-image{
					.content{
						background-size: cover!important;
						width: 100%;
						max-height: 500px;
						img{
							height: auto;
							visibility: hidden;
						}
					}
				}
			}
		}

		/* BODY TEXT */
		.post-content{
			padding-top: 0;
				.intro{
					p{
						font-size: 1.6em;
					}
				}
				h3{
					color: #000;
					font-size: 1.7em;
					margin: 50px 0 30px 0;
					font-weight: 300;
					font-family: Roboto;
					line-height: 1.3em;
					letter-spacing: 0.5px;
					@media all and (max-width: @tablet-width - 5px){
						margin: 20px 0 30px 0;
					}
				}
				h2{
					font-family: Roboto;
					margin: 40px 0 15px 0;
					line-height: 1.2em;
				}
				h4{
					margin: 35px 0 20px 0;
				}
				ul{
					font-family: Roboto;
					font-size: 1.2em;
					color: #000;
					margin-bottom: 20px;
				}
				ol{
					font-family: Roboto;
					font-size: 1.2em;
					color: #000;
					margin-bottom: 20px;
					text-indent: 2px;
				}
				.left-image{
					padding-right: 40px;
					width: 385px;
					float: left;
					clear: both;
					padding-top: 5px;
					@media @larger-phone-width-down{
						width: 100%;
						padding-right: 0;
					}
					img{
						width: 100%!important;
						height: auto!important;
					}
					p{
						margin-bottom: 0!important;
					}
					& + h6{
						float: left;
						padding-right: 40px;
						margin-bottom: 20px;
						width: 385px;
						clear: both;
						position: relative;
						font-family: Roboto;
						font-weight: 300;
						font-style: italic;
						line-height: 1.4em;
						@media @larger-phone-width-down{
							width: 100%;
							padding-right: 0;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							max-width: 343px;
							height: 1px;
							background: @alt-grey;
							left: 0;
							bottom: -5px;
							@media @larger-phone-width-down{
								max-width: unset;
							}
						}
					}
				}
				.right-image{
					padding-left: 40px;
					width: 385px;
					float: right;
					clear: both;
					padding-top: 5px;
					@media @larger-phone-width-down{
						width: 100%;
						padding-left: 0;
					}
					img{
						width: 100%!important;
						height: auto!important;
					}
					p{
						margin-bottom: 0!important;
					}
					& + h6{
						float: right;
						padding-left: 40px;
						margin-bottom: 20px;
						width: 385px;
						clear: both;
						position: relative;
						font-family: Roboto;
						font-weight: 300;
						font-style: italic;
						line-height: 1.4em;
						@media @larger-phone-width-down{
							width: 100%;
							padding-left: 0;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							max-width: 343px;
							height: 1px;
							background: @alt-grey;
							right: 0;
							bottom: -5px;
							@media @larger-phone-width-down{
								max-width: unset;
							}
						}
					}
				}
				.center-image{
					width: 100%;
					text-align: center;
					float: right;
					clear: both;
					padding-top: 5px;
					@media @larger-phone-width-down{
						width: 100%;
						padding-left: 0;
					}
					img{
						width: 100%!important;
						height: auto!important;
					}
					p{
						margin-bottom: 0!important;
					}
					& + h6{
						float: right;
						margin-bottom: 20px;
						width: 100%;
						clear: both;
						position: relative;
						font-family: Roboto;
						font-weight: 300;
						font-style: italic;
						line-height: 1.4em;
						@media @larger-phone-width-down{
							width: 100%;
							padding-left: 0;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							background: @alt-grey;
							right: 0;
							bottom: -5px;
							@media @larger-phone-width-down{
								max-width: unset;
							}
						}
					}
				}
				p{
					line-height: 1.4em;
				}
				blockquote{
					font-size: 1em;
					font-family: Roboto;
					font-style: unset;
					margin: 35px 0;
					border-left: solid 6px @alt-grey;
					font-weight: 500;
					opacity: 0.65;
					background: none;
					font-style: italic;
					p{
						line-height: 1.6em;
						margin: 0;
						margin-bottom: 0!important;
					}
				}
				.ckeditor-accordion-container{
					& > dl {
						border: 0;
						dt{
							background: @alt-grey;
							& > .ckeditor-accordion-toggle{
								&:after{
									background: #000;
								}
								&:before{
									background: #000;
								}
							}
							& > a{
								border: 0!important;
								background: none;
								color: #000;
							}
						}
						dd{
							p{
								margin-bottom: 10px!important;
							margin: 10px 0;
							}
						}
					}
				}
			/* RELATED TAGS */
			.field-type-taxonomy-term-reference{
				.field-item{
					background: #fff;
					border: 1px solid @bright-blue;
					transition: all .3s linear;
					a{
						color: @bright-blue;
						transition: all .3s linear;
					}
					&:hover{
						background: @bright-blue;
						padding: 4px 10px;
    					margin: 2px;
						a{
							color: #fff;
						}
					}
				}
			}
		}

		/* POST TITLE */
		.SectionHeader{
			font-weight: 400;
			font-size: 4em;
			line-height: 1.1em;
			font-family: Cairo;
			margin-bottom: 50px;
			@media @larger-phone-width-down{
				font-weight: 700;
				font-size: 2.5em;
				margin-bottom: 25px;
			}
			& + .brd-headling{
				display: none;
			}
		}

		/* POST TYPE & AUTHOR */
		.meta{
			@media all and (max-width: @tablet-width - 5px){

				.flex-container .flex-cell{
					flex-direction: column;
					border-top: 1px solid rgba(0,0,0,0.12);
					border-bottom: 1px solid rgba(0,0,0,0.12);
					padding: 15px 0 15px;
					.meta-info{
						width: 100%;
					}
					.meta-share-url{
						position: relative;
						width: 100%;
						.socialMediaIcon{
							display: block;
							position: relative;
							bottom: unset;
							margin: 15px 0px 0px !important;
							float: left!important;
							padding: 0;
							li{
								padding: 0 5px 0 0;
							}
						}
					}
				}
			}
			.post-meta{
				margin-bottom: 30px;
			}
			.meta-info{
				display: flex;
				flex-direction: row;
				.meta-type-date{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					font-size: 1.2em;
					.meta-type{
						b, strong{
							padding-top: 0;
							font-family: Roboto;
							font-weight: 500;
							color: #000;
							opacity: 1;
							a{
								color: #000;
								&:hover{
									color: @bright-blue;
								}
							}
						}
					}
				}
			}
			.meta-share-url{
				position: relative;
				.socialMediaIcon{
					display: block;
					position: absolute;
					bottom: 5px;
					margin: 0!important;
					@media all and (max-width: 345px){

					}
				}
			}
		}
	}
}