/* --------------------------------------------------------- */
/* -------------- APA Research Added by Jinghu ------------- */
/* --------------------------------------------------------- */

#block-block-227 .rightPanel p{
    padding-left: 0!important;
    text-indent: 0!important;
}
#block-block-228 .right-keyline{
    border-right:1px solid black; 
}
.team-item-left{
    width:30%!important;
	float:left;
	
}
.team-item-right{
    width:100%!important;
	padding-left: 30%!important;
}
.region .view-team .view-content .bx-default-pager{
    display:none;
}
.node-type-research-article .field-items{
    display: -webkit-inline-box;
}
.node-type-research-article .field-item{
    padding-right: 9px;
}
#block-block-232 .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 90px;
    text-align: center;
    background: #000;
    box-shadow: 0 0 0 8px #009fda;
    margin-top: 10px;
    margin-left: 10px;
}
#block-block-232 ul{
    list-style: none;
    margin: 5px 15px 2px 0;
    color:white;
    padding: 3px 0;
}
#block-block-232 p{
    color:white;
}
#block-block-232 .numberstyle
{
   margin-left: 15%;
    margin-top: -8%;
}
#block-block-232 .leftline{   
	border-left: 1px solid white;
    padding-left: 50px;
}
#block-block-232 .left{   			
    padding-left: 51px;
}
#block-block-232 .keyline{   
	border-bottom: 1px solid white;
    
}
#block-block-232 .topline{   
	border-top: 1px solid white;
    
}
#block-block-232 a.button.line-color {
    color: white !important;
    border-color: white;
	background-color:#009fda;
}
#block-block-232 .skill-bar-title{
    float: left;
    margin-top: -9px;
	margin-left: -33px;
}
#block-block-232 .skill-bar .bar-wrap{
    width: 93%;
    margin-left: 6%;
	margin-bottom: 33px!important;
}
#block-block-238 .arrowDown a i{
    color:#009fdb!important;
	
}
#block-block-238 .arrowDown{
    border: 2px lightgrey solid!important;
}

.fullwidthimage .field-items {
	display: block;
	
}
.fullwidthimage img{
    height:500px;
}
#team-block-6 .node-team .content{
    margin:20px;
}
#block-views-team-block-7 .view-team .bx-controls .fa{
    border-radius: 50%!important;
	height: 50px!important;
    width: 50px!important;
	padding: 5px;
}
#block-views-team-block-7 .view-team .bx-controls .bx-prev{
    position: absolute;
    margin-top: 264px;
	margin-left:-556px;
}
#block-views-team-block-7 .view-team .bx-controls .bx-next{
    position: absolute;
    margin-top: 264px;
	margin-right:-692px;
}
#block-views-team-block-7.main-headline h3.block-title{
    margin-bottom: -10px!important;
}
.box-left .box-icon span i.boost {
    width: 44px;
    height: 44px;
    background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_6.png);
}

/*---------------- RESEARCH LANDING PAGE ----------------*/

/* RESEARCH POST LAYOUT */
.page-node-213 #section-main-content{
    padding-top: 50px;
    .portfolio-filters{
		ul{
			@media @larger-tablet-width-down{
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
			@media @larger-phone-width-down{
				font-size: 1em;
			}
			@media all and (max-width: 345px){
				font-size: 0.8em;
			}
		}
	}
}
#section-main-content{
    .content .MediaListing .post-img{
        margin-left: 0;
    }
    .node-research-article{
        padding: 30px 0;
        border-top: 1px solid rgba(0,0,0,0.12);
        @media @tablet-width-down{
            flex-direction: column;
            padding: 35px 0 30px;
            .post-img{
                width: 100%;
                padding-bottom: 50%;
                margin: 0;
            }
        }
        &:first-child{
            border-top: 0px solid rgba(0,0,0,0.12);
        }
        &:last-child{
            border-bottom: 1px solid rgba(0,0,0,0.12);
        }
        .post-content{
            @media @tablet-width-down{
                padding-top: 30px!important;
                width: 100%;
                margin: 0;
            }
            h2{
                font-size: 1.8em;
                line-height: 1.1em;
                padding-top: 10px;
                @media @larger-phone-width-down{
                    font-size: 1.6em;
                }
                a{
                    letter-spacing: 0;
                }
            }
            .meta{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        display: inline-block;
                        font-weight: 500;
                        color: @alt-grey;
                        margin: 0 5px 0px 0;
                        padding: 0 10px 0 0;
                        font-style: normal;
                        font-size: 0.8em;
                        a{
                            color: @alt-grey;
                            font-weight: 500;
                            text-decoration: underline;
                            &:hover{
                                color: @bright-blue;
                            }
                        }
                    }
                }
            }
        }
    }
    .node-research-article{
		padding: 30px 0;
		border-top: 1px solid rgba(0,0,0,0.12);
		&:first-child{
			border-top: 0px solid rgba(0,0,0,0.12);
		}
		&:last-child{
			border-bottom: 1px solid rgba(0,0,0,0.12);
        }
		.post-content{
            padding-right: 50px;
            @media @larger-tablet-width-down{
                padding-right: 0;
            }
			@media @tablet-width-down{
				padding-top: 30px!important;
			}
			h2{
				font-size: 1.8em;
				line-height: 1.1em;
				padding-top: 10px;
				@media @larger-phone-width-down{
					font-size: 1.6em;
				}
				a{
					letter-spacing: 0;
				}
			}
			h3{
				color: #000;
				font-size: 1.2em;
				padding-top: 0;
			}
			.meta{
				ul{
					margin: 0;
					padding: 0;
					li{
						display: inline-block;
						font-weight: 500;
						color: @alt-grey;
						margin: 0 5px 0px 0;
						padding: 0 10px 0 0;
						font-style: normal;
						font-size: 0.8em;
						a{
							color: @alt-grey;
							font-weight: 500;
							text-decoration: underline;
							&:hover{
								color: @bright-blue;
							}
						}
					}
				}
			}
		}
	}
        .portfolio-filters{
            ul{
                li{
                    a{
                        margin: 0 2px 0 0;
                        font-size: 1em;
                        font-weight: 400;
                        border: 0.5px #eceef0 solid;
                        color: #afaeae;
                        &.active{
                            color: #fff;
                        }
                    }
                    &:hover{
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    .region-right-sidebar{
        .accent-btn{
            margin-bottom: 0;
            padding: 15px;
            width: 100%;
        }
    }
}

/* RESEARCH POST LAYOUT */
#section-main-content{
	#block-system-main .content .field-items .media_contents_filtered .MediaListing .post-img{
		margin-left: 0;
	}
	.node-research-article{
		padding: 30px 0;
		border-top: 1px solid rgba(0,0,0,0.12);
		@media @tablet-width-down{
			padding: 35px 0 30px;
		}
		&:first-child{
			border-top: 0px solid rgba(0,0,0,0.12);
		}
		&:last-child{
			border-bottom: 1px solid rgba(0,0,0,0.12);
		}
		.post-content{
			@media @tablet-width-down{
				padding-top: 30px!important;
			}
			h2{
				font-size: 1.8em;
				line-height: 1.1em;
				padding-top: 10px;
				@media @larger-phone-width-down{
					font-size: 1.6em;
				}
				a{
					letter-spacing: 0;
				}
			}
			.meta{
				ul{
					margin: 0;
					padding: 0;
					li{
						display: inline-block;
						font-weight: 500;
						color: @alt-grey;
						margin: 0 5px 0px 0;
						padding: 0 10px 0 0;
						font-style: normal;
						font-size: 0.8em;
						a{
							color: @alt-grey;
							font-weight: 500;
							text-decoration: underline;
							&:hover{
								color: @bright-blue;
							}
						}
					}
				}
			}
		}
	}
	.pagination.pager{
		margin-bottom: 0;
		padding-top: 30px;
		padding-left: 0;
		li{
			&.pager-current{
				a{
					font-weight: 700;
				}
			}
			a{
				&:hover{
					font-weight: 700;
					color: #333;
				}
			}
		}
	}
	.media_filter{
		ul{
			@media @larger-tablet-width-down{
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
			}
			@media @larger-phone-width-down{
				font-size: 1em;
			}
			@media all and (max-width: 345px){
				font-size: 0.8em;
			}
		}
	}
}

/* RESEARCH POST LAYOUT */
.node-type-research-article #section-main-content{
	.node-research-article{
		margin-top: 0;
        padding-top: 0;
        .region{
            padding-left: 0;
            padding-right: 0;
        }

		/* POST FEATURED IMAGE */
		.post-img{
            max-height: 500px;
            img{
                margin-top: -20%;
            }
			&.mobile{
				display: none;
				width: 100vw;
				position: relative;
				margin-left: -15px;
				@media @larger-phone-width-down{
					display: block;
					max-height: 200px;
				}
			}
			.content{
				max-height: 400px;
			}
			.fullwidthimage img{
				height: auto;
			}
			@media @larger-phone-width-down{
				display: none;
			}
			.field-name-field-inmotion-image, .field-name-field-home-tile-image{
				.file-image{
					.content{
						background-size: cover!important;
						width: 100%;
						max-height: 500px;
						img{
							height: auto;
							visibility: hidden;
						}
					}
				}
			}
		}

		/* BODY TEXT */
		.post-content{
			padding-top: 0!important;
				.intro{
					p{
						font-size: 1.6em;
					}
				}
				h3{
					color: #000;
					font-size: 1.7em;
					margin: 50px 0 30px 0;
					font-weight: 300;
					font-family: Roboto;
					line-height: 1.3em;
					letter-spacing: 0.5px;
					@media all and (max-width: @tablet-width - 5px){
						margin: 20px 0 30px 0;
					}
				}
				h2{
					font-family: Roboto;
					margin: 40px 0 15px 0;
					line-height: 1.2em;
				}
				h4{
					margin: 35px 0 20px 0;
				}
				ul{
					font-family: Roboto;
					font-size: 1.2em;
					color: #000;
					margin-bottom: 20px;
				}
				ol{
					font-family: Roboto;
					font-size: 1.2em;
					color: #000;
					margin-bottom: 20px;
					text-indent: 2px;
				}
				.left-image{
					padding-right: 40px;
					width: 385px;
					float: left;
					clear: both;
					padding-top: 5px;
					padding-bottom: 25px;
					@media @larger-phone-width-down{
						width: 100%;
						padding-right: 0;
					}
					img{
						width: 100%!important;
						height: auto!important;
					}
					p{
						margin-bottom: 0!important;
					}
					& + h6{
						float: left;
						padding-right: 40px;
						margin-bottom: 20px;
						width: 385px;
						clear: both;
						position: relative;
						font-family: Roboto;
						font-weight: 300;
						font-style: italic;
						line-height: 1.4em;
						margin-top: -20px;
						@media @larger-phone-width-down{
							width: 100%;
							padding-right: 0;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							max-width: 343px;
							height: 1px;
							background: @alt-grey;
							left: 0;
							bottom: -5px;
							@media @larger-phone-width-down{
								max-width: unset;
							}
						}
					}
				}
				.right-image{
					padding-left: 40px;
					width: 385px;
					float: right;
					clear: both;
					padding-top: 25px;
					padding-bottom: 25px;
					@media @larger-phone-width-down{
						width: 100%;
						padding-left: 0;
					}
					img{
						width: 100%!important;
						height: auto!important;
					}
					p{
						margin-bottom: 0!important;
					}
					& + h6{
						float: right;
						padding-left: 40px;
						margin-bottom: 20px;
						width: 385px;
						clear: both;
						position: relative;
						font-family: Roboto;
						font-weight: 300;
						font-style: italic;
						line-height: 1.4em;
						margin-top: -20px;
						@media @larger-phone-width-down{
							width: 100%;
							padding-left: 0;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							max-width: 343px;
							height: 1px;
							background: @alt-grey;
							right: 0;
							bottom: -5px;
							@media @larger-phone-width-down{
								max-width: unset;
							}
						}
					}
				}
				.center-image{
					width: 100%;
					text-align: center;
					float: right;
					clear: both;
					padding-top: 5px;
					padding-bottom: 25px;
					@media @larger-phone-width-down{
						width: 100%;
						padding-left: 0;
					}
					img{
						width: 100%!important;
						height: auto!important;
					}
					p{
						margin-bottom: 0!important;
					}
					& + h6{
						float: right;
						margin-bottom: 30px;
						width: 100%;
						clear: both;
						position: relative;
						font-family: Roboto;
						font-weight: 300;
						font-style: italic;
						line-height: 1.4em;
						margin-top: -20px;
						@media @larger-phone-width-down{
							width: 100%;
							padding-left: 0;
						}
						&:after{
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							background: @alt-grey;
							right: 0;
							bottom: -5px;
							@media @larger-phone-width-down{
								max-width: unset;
							}
						}
					}
				}
				p{
					line-height: 1.4em;
				}
				blockquote{
					font-size: 1em;
					font-family: Roboto;
					font-style: unset;
					margin: 35px 0;
					border-left: solid 6px @alt-grey;
					font-weight: 500;
					opacity: 0.65;
					background: none;
					font-style: italic;
					p{
						line-height: 1.6em;
						margin: 0;
						margin-bottom: 0!important;
					}
				}
				.ckeditor-accordion-container{
					& > dl {
						border: 0;
						dt{
							background: @alt-grey;
							& > .ckeditor-accordion-toggle{
								&:after{
									background: #000;
								}
								&:before{
									background: #000;
								}
							}
							& > a{
								border: 0!important;
								background: none;
								color: #000;
							}
						}
						dd{
							p{
								margin-bottom: 10px!important;
							margin: 10px 0;
							}
						}
					}
				}
			/* RELATED TAGS */
			.field-type-taxonomy-term-reference{
				.field-item{
					background: #fff;
					border: 1px solid @bright-blue;
					transition: all .3s linear;
					a{
						color: @bright-blue;
						transition: all .3s linear;
					}
					&:hover{
						background: @bright-blue;
						padding: 4px 10px;
    					margin: 2px;
						a{
							color: #fff;
						}
					}
				}
			}
		}

		/* POST TITLE */
		.SectionHeader{
			font-weight: 400;
			font-size: 4em;
			line-height: 1.1em;
			font-family: Cairo;
			margin-bottom: 50px;
			@media @larger-phone-width-down{
				font-weight: 700;
				font-size: 2.5em;
				margin-bottom: 25px;
			}
			& + .brd-headling{
				display: none;
			}
		}

		/* POST TYPE & AUTHOR */
		.meta{
            .field-type-taxonomy-term-reference .field-item{
                background: unset;
                border: 0;
                padding: 0;
                &:hover{
                    background: unset;
                    padding: 0;
                    margin: 0;
                }
            }
			@media all and (max-width: @tablet-width - 5px){

				.flex-container .flex-cell{
					flex-direction: column;
					border-top: 1px solid rgba(0,0,0,0.12);
					border-bottom: 1px solid rgba(0,0,0,0.12);
					padding: 25px 0 15px;
					.meta-info{
						width: 100%;
					}
					.meta-share-url{
						position: relative;
						width: 100%;
						.socialMediaIcon{
							display: block;
							position: relative;
							bottom: unset;
							margin: 15px 0px 0px !important;
							float: left!important;
							padding: 0;
							li{
								padding: 0 5px 0 0;
							}
						}
					}
				}
			}
			.post-meta{
				margin-bottom: 30px;
			}
			.meta-info{
				display: flex;
				flex-direction: row;
				.meta-type-date{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					font-size: 1.2em;
					.meta-type{
						b, strong{
							padding-top: 0;
							font-family: Roboto;
							font-weight: 500;
							color: #000;
							opacity: 1;
							a{
								color: #000;
								&:hover{
									color: @bright-blue;
								}
							}
                        }
                        &.category{
                            padding: 5px 10px;
                            margin-bottom: 10px;
                            color: #009fda;
                            border: 1px solid #c3c8c8; 
                            font-size: 0.8em;
                            b, strong{
                                color: #c3c8c8;
                                font-weight: 400;
                            }
                        }
					}
				}
			}
			.meta-share-url{
				position: relative;
				.socialMediaIcon{
					display: block;
					position: absolute;
					bottom: 5px;
					margin: 0!important;
					@media all and (max-width: 345px){

					}
				}
			}
        }
        
        /* AUTHOR SECTION */
        .featured-block{
            float: left;
            @media all and (max-width: @larger-tablet-width - 5px){
                width: 100vw;
                margin-left: -15px;
            }
            h4{
                font-size: 1.8em;
            }
            .author{
                .author-name{
                    color: #333;
                    font-weight: 500;
                    padding: 15px 0 0;
                    margin: 0;
                }
                .author-bio{
                    padding-top: 15px;
                    margin-top: 15px;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 60%;
                        height: 1px;
                        background: rgba(0,0,0,0.12);
                    }
                }
            }
        }
        div[class^="space-"]{
            float: left;
        }
	}
}

/* COMPLETED RESERCH STORIES */
.page-node-214{
    #section-main-content #block-system-main{
        .region{
            padding-left: 0;
            padding-right: 0;
        }
        .post-img{
            display: none;
        }
        .post-content{
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            .SectionHeader{
                display: none;
                & + .brd-headling{
                    display: none;
                }
            }

            /* STORIES */
            .view-media{
                .dexp-grid-items{
                    display: flex;
                    flex-wrap: wrap;
                    .node{
                        padding: 15px 10px;
                        border: 0px;
                        @media all and (max-width: @tablet-width - 5px){
                            padding: 15px 0px;
                        }
                        .team{
                            margin-bottom: 0;
                            border: 0.5px solid #eceef0;
                            width: 100%;
                            position: relative;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            transition: all .3s linear;
                            a{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 10;
                            }
                            /* TEAM IMAGE */
                            .team-image{
                                .field-item{
                                    overflow: hidden;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    display: flex;
                                    img{
                                        width: 100%;
                                        max-width: unset;
                                    }
                                }
                            }

                            /* TEAM INFO */
                            .team-info{
                                padding: 0 15px;
                                .team-name{
                                    margin: 0;
                                    padding: 15px 0;
                                    color: #333;
                                    font-family: Roboto;
                                    border: 0;
                                    font-size: 1.4em;
                                    font-weight: 500;
                                }
                                .team-intro{
                                    color: #000;
                                    font-family: Roboto;
                                    padding-bottom: 15px;
                                    display: block;
                                    font-size: 1.2em;
                                }
                            }
                            .team-extra{
                                width: 100%;
                                color: #333;
                                font-weight: 700;
                                font-family: Roboto;
                                display: block;
                                float: left;
                                margin-top: auto;
                                padding: 0 15px 15px 15px;
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* RESEARCH PORTAL */
.page-node-762{
	#block-system-main{
		.node{
			.region{
				padding: 0;
			}
			.post-img{
				display: none;
			}
			.post-content{
				padding: 0;
				h1.SectionHeader{
					display: none;
					&+ .brd-headling{
						display: none;
					}
				}
			}
		}
	}
}