/* --------------------------------------------------------- */
/* -------------- APA Research Added by Jinghu ------------- */
/* --------------------------------------------------------- */

#block-block-227 .rightPanel p{
    padding-left: 0!important;
    text-indent: 0!important;
}
#block-block-228 .right-keyline{
    border-right:1px solid black; 
}
.team-item-left{
    width:30%!important;
	float:left;
	
}
.team-item-right{
    width:100%!important;
	padding-left: 30%!important;
}
.region .view-team .view-content .bx-default-pager{
    display:none;
}
.node-type-research-article .field-items{
    display: -webkit-inline-box;
}
.node-type-research-article .field-item{
    padding-right: 9px;
}
#block-block-232 .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 90px;
    text-align: center;
    background: #000;
    box-shadow: 0 0 0 8px #009fda;
    margin-top: 10px;
    margin-left: 10px;
}
#block-block-232 ul{
    list-style: none;
    margin: 5px 15px 2px 0;
    color:white;
    padding: 3px 0;
}
#block-block-232 p{
    color:white;
}
#block-block-232 .numberstyle
{
   margin-left: 15%;
    margin-top: -8%;
}
#block-block-232 .leftline{   
	border-left: 1px solid white;
    padding-left: 50px;
}
#block-block-232 .left{   			
    padding-left: 51px;
}
#block-block-232 .keyline{   
	border-bottom: 1px solid white;
    
}
#block-block-232 .topline{   
	border-top: 1px solid white;
    
}
#block-block-232 a.button.line-color {
    color: white !important;
    border-color: white;
	background-color:#009fda;
}
#block-block-232 .skill-bar-title{
    float: left;
    margin-top: -9px;
	margin-left: -33px;
}
#block-block-232 .skill-bar .bar-wrap{
    width: 93%;
    margin-left: 6%;
	margin-bottom: 33px!important;
}
#block-block-238 .arrowDown a i{
    color:#009fdb!important;
	
}
#block-block-238 .arrowDown{
    border: 2px lightgrey solid!important;
}
#node-214 .team{
    margin-right: 20px;
}

.fullwidthimage .field-items {
	display: block;
	
}
.fullwidthimage img{
    height:500px;
}
#team-block-6 .node-team .content{
    margin:20px;
}
#block-views-team-block-7 .view-team .bx-controls .fa{
    border-radius: 50%!important;
	height: 50px!important;
    width: 50px!important;
	padding: 5px;
}
#block-views-team-block-7 .view-team .bx-controls .bx-prev{
    position: absolute;
    margin-top: 264px;
	margin-left:-556px;
}
#block-views-team-block-7 .view-team .bx-controls .bx-next{
    position: absolute;
    margin-top: 264px;
	margin-right:-692px;
}
#block-views-team-block-7.main-headline h3.block-title{
    margin-bottom: -10px!important;
}
.box-left .box-icon span i.boost {
    width: 44px;
    height: 44px;
    background-image: url(/sites/all/libraries/ICONS/MEMBERSHIP_ICONS_6.png);
}
.mediablocks .post{
    padding:0px!important;
}

/* RESEARCH LANDING PAGE */
.page-node-213{
    #section-banner #block-block-221{
        /* Banner */
        .top-banner{
            padding: 5% 15% 2%;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: center;
            align-items: center;
            .page-main-header{
                color: #fff;
                font-family: Cairo;
                font-size: 4em;
                margin: 0px auto;
                line-height: 1em;
                text-transform: uppercase;
                text-align: center;
            }
            .separator{
                width: 100%;
                position: relative;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0;
                margin: 20px 0;
                &:after{
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 20px;
                    background: #fff;
                }
            }
            .text-container{
                font-family: Roboto;
                color: #fff;
                font-size: 1.4em;
                font-weight: 300;
                text-align: left;
                letter-spacing: 0.5px;
            }
            .arrowDown{
                border: 1px #fff solid;
                transform: scale(0.7);
                margin: 25px auto 15px;
            }
            @media all and (max-width: @desktop-width){
                padding: 9% 15% 5%;
            }
            @media all and (max-width: @larger-phone-width){
                padding: 150px 10% 5%;
                .page-main-header{
                    font-size: 3em;
                }
                .text-container{
                    font-size: 1.2em;
                }
            }
        }
        .sub-top-banner{
            padding: 20px 0;
            margin: 0 auto;
            background: rgba(0, 159, 218, 0.9);
            font-family: Roboto;
            color: #fff;
            font-size: 1.4em;
            font-weight: 400;
            display: flex;
            justify-content: center;
            text-align: left;
            padding: 30px 0;
            & > .flex-container{
                flex-wrap: nowrap;
                max-width: 1300px;
            }
            .left-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 30px;
                span:not(.lead-text){
                    letter-spacing: 0.5px;
                }
            }
            .right-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }
            .lead-text{
                font-size: 1.6em;
                line-height: 1em;
                margin-bottom: 10px;
                .mobile-hidden{
                    display: inline;
                }
            }
        }
    }
}