/* --------------------------------------------------------- */
/* ----------------------- CPD diary ----------------------- */
/* --------------------------------------------------------- */

div#CPD-diary-main { 
	height: 400px; 
	.container{
		button.dashboard-backgroud{
			@media all and (max-width: @larger-phone-width) {
				position: absolute;
				right: 10%;
				z-index: 99999;
			}
			@media all and (max-width: @tablet-width) {
				position: absolute;
				top: -80px;
				z-index: 99999;
				right: 0;
			}
			span.customise_background{
				padding: 5px 10px;
				background: #c3c8c8;
				border-radius: 100px;
				color: #fff;
				transition: 0.1s linear;
				@media all and (max-width: @larger-phone-width) {
					display: none;
				}
				&:hover{
					background: #5ac0de
				}
			}
			span.customise_icon{
				@media all and (max-width: @larger-phone-width) {
					display: block;
				}
			}
		}
	}
}
#block-block-291 {
	.content {
		height: 300px;
		h2 {
			text-align: center;
			color: white;
			font-weight: 300;
			font-size: 46px;
		}
		@media all and (max-width: @larger-phone-width) {
			h2 {
				font-size: 38px;
			}
		}
		@media all and (max-width: @phone-width) {
			h2 {
				font-size: 29px;
			}
		}
	}
	#goo-chart{
		padding: 0;
		@media all and (max-width: 1300px) and (min-width: @larger-tablet-width) {
			padding-left: 10px;
			span.number{
				left: 60%;
			}
			span.text{
				margin-left: -32px;
			}
		}
		#donutchart{
			position: relative;
			top: 12px;
			z-index: 10;
			div[dir="ltr"]{
				margin: 0 auto;
			}
		}
		span.number{
			position: absolute;
			top: 74px;
			left: 49.8%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			font-size: 4em;
			display: block;
			line-height: 1em;
			color: white;
		}
		span.text{
			font-size: 1.2em;
			position: absolute;
			top: 158px;
			left: 48%;
			margin-left: -8px;
			z-index: 11;
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			color: white;
		}
		@media all and (max-width: @larger-desktop-width) {
			#donutchart{
				top: 12px;
			}
			span.number{
				font-size: 3.5em;
				top: 67px;
				/*left: 49.8%;*/
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			span.text{
				font-size: 1.0em;
				margin-left: -12px;
				top: 141px;
				line-height: 18px;
			}
		}
		@media all and (max-width: 1300px) and (min-width: @desktop-width + 1px ){
			span.number{
				/*left: 49.8%;*/
			}
			span.text{
				/*margin-left: -37px;*/
			}
		}
		@media all and (max-width: @desktop-width) {
			#donutchart{
				top: 22px;
			}
			span.number{
				font-size: 3em;
				/*left: 49.8%;*/
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			span.text{
				font-size: 0.9em;
				margin-left: -6px;
				top: 129px;
			}
		}
		@media all and (max-width: @larger-tablet-width){
			#donutchart{
				top: -3px;
			}
			span.number{
				font-size: 4em;
				/*left: 49.8%;*/
				top: 50px;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			span.text{
				font-size: 1.2em;
				margin-left: -25px;
				top: 150px;
			}
		}
		@media all and (max-width: @larger-phone-width) {
			#donutchart{
				top: 18px;
			}
			span.number{
				font-size: 3em;
				/*left: 49.8%;*/
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			span.text{
				font-size: 0.8em;
				margin-left: -18px;
				top: 123px;
				line-height: 14px;
			}
		}
		@media all and (max-width: @phone-width) {
			#donutchart{
				top: 10px;
			}
			span.number{
				font-size: 3.5em;
				/*left: 49.8%;*/
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			span.text{
				font-size: 1.1em;
				margin-left: -32px;
				top: 143px;
				line-height: 16px;
			}
		}
	}
}

div#CPD-diary-main .container:nth-child(2) {
  padding-top: 70px;
}
#myProgress {
  width: 100%;
}
#ProgressCPDback {
  position: absolute;
  margin-top: -8px;
  height: 41px;
  background-color: white;
  z-index: 1;
  width: 1140px;
}
div#ProgressCPDback .front {
    font-size: 70px;
    position: absolute;
    left: -28px;
    top: -15px;
    color: rgb(0,159,218);
}
div#ProgressCPDback .back {
    font-size: 70px;
    position: absolute;
    right: -28px;
    top: -15px;
    color: rgb(0,159,218);
}
#myBar {
  width: 10%;
  height: 25px;
  text-align: center;
  background-color: rgb(0,159,218);
  line-height: 25px;
  color: white;
  position: relative;
  z-index: 15;
}
#currentProgress {
  width: 82px;
  height: 43px;
  text-align: center;
  line-height: 18px;
  background-color: black;
  padding: 5px;
  color: white;
  margin-left: -41px;
  z-index: 20;
  position: relative;
}
#currentProgress:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: 13px solid;
  border-color: black transparent transparent transparent;
  margin: 20px 0 0 -44px;
  z-index: 25;
}
#MaxHours {
	width: 100%;
    height: 98px;
  z-index: 20;
  position: relative;
}
#MaxHours .trophy {
	border-left: black 1px solid;
    height: 24px;
    padding-left: 20px;
   color: black;
}
#MaxHours .MaxHours {
	padding: 10px 15px;
   color: black;
}
.APAhoursHead, .NAPAhoursHead { width: 100%; }
.APAhoursContent, .NAPAhoursContent {
    height: 240px;
    overflow-y: auto;
    float: left;
    width: 100%;
}
.APAhoursHead div, .NAPAhoursHead div {
  background-color: rgb(0,159,218);
  border: 0.5px solid white;
  padding: 10px;
  float: left;
  color: white;
}
.APAhoursContent div:not(.lineBreak), .NAPAhoursContent div:not(.lineBreak) {
  border: solid black;
  border-width: 0 0 0.5px;
  padding: 10px;
  float: left;
}
.APAhoursHead div:nth-child(1) {
  width: 70%;
}
.APAhoursHead div:nth-child(2) {
  width: 15%;
}
.APAhoursHead div:nth-child(3) {
  width: 15%;
}
.APAhoursContent div:nth-child(5n + 2) {
  width: 70%;
}
.APAhoursContent div:nth-child(5n + 3) {
  width: 15%;
}
.APAhoursContent div:nth-child(5n + 4) {
  width: 15%;
}
.NAPAhoursHead div:nth-child(1) {
  width: 15%;
}
.NAPAhoursHead div:nth-child(2) {
  width: 20%;
}
.NAPAhoursHead div:nth-child(3) {
  width: 15%;
}
.NAPAhoursHead div:nth-child(4) {
  width: 20%;
}
.NAPAhoursHead div:nth-child(5) {
  width: 30%;
}
.NAPAhoursContent div:nth-child(7n + 2) {
  width: 15%;
}
.NAPAhoursContent div:nth-child(7n + 3) {
  width: 20%;
}
.NAPAhoursContent div:nth-child(7n + 4) {
  width: 15%;
}
.NAPAhoursContent div:nth-child(7n + 5) {
  width: 20%;
}
.NAPAhoursContent div:nth-child(7n + 6) {
  width: 30%;
}
.lineBreak { clear: both; height: 1px; }
