/* --------------------------------------------------------- */
/* -------------------------- PD --------------------------- */
/* --------------------------------------------------------- */

/*--RESPONSIVE BREAKPOINTS--*/
@phone-width: 480px;
@larger-phone-width: 570px;
@tablet-width: 768px;
@larger-tablet-width: 992px;
@desktop-width: 1200px;
@larger-desktop-width: 1500px;


#section-tagline #block-block-117 .button {
	color: white !important;
	border-color: white;
}
.pd .PDfeatures .animated{
	padding: 60px 0 40px;
}
.third .left .thirdContent {
	width: 100%;
}
.pd .PDfeatures .online .left {
	float: left;
	width: 48%;
}
.pd .PDfeatures .online button {
	float: right;
	margin-bottom: 20px;
	margin: 140px 0 0;
}
.pd #section-main-content {
	margin-top: 40px;
}
.pd .region-right-sidebar .brd-headling {
	border-bottom: 3px solid rgba(94,97,103,0.7);
}
.listSidebar ul {
	padding-left: 0;
}
.listSidebar ul li {
	list-style: none;
	margin: 5px 15px 2px 0;
    border-bottom: 0.5px solid rgba(195,200,200,0.5);
    padding: 3px 0;
}
.listSidebar ul li a {
	font-size: 15px;
	font-weight: bold;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
	transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
}
#section-tagline a.button.line-color {
	color: white !important;
    border-color: white;
}
.w3 .dexp-shortcodes-box.box-none.box-left {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}
.rightbox {
	border: 0.5px white solid;
    padding: 10px 20px;
	margin-right: 32px;
}
.Conference .col-lg-4 p img {
	width: 100%;
}
.Conference .col-lg-4 h3 {
	position: absolute;
    padding: 88px 33px;
    width: 92.5%;
    top: -16px;
    height: 90.5%;
    z-index: 50;
    text-align: center;
    font-size: 34px;
    background-color: rgba(94,97,103,0.6);
    text-transform: uppercase;
    transition: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
    transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
}
.Conference .col-lg-4 h3 a {
	color: white;
}
.Conference .col-lg-4:hover h3 {
	background-color: rgba(94,97,103,0.2);
}
.rightbox ul li {
    list-style: none;
	margin-left: -40px;
}
.pd_adrrow.arrowDown a i {
    color:black;
}
.pdcontent{
    border-top: 1px solid #ECEEF0;
    border-bottom: 1px solid #ECEEF0;
}

/* --------------------------------------------------------- */
/* ----------------------- PD search Added by Jinghu ----------------------- */

.dexp-section{
    .dexp-container{
        .dexp-parallax{
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom!important;
        }
    }
}

.pd{
    .dexp-section{
        .dexp-container{
            .dexp-parallax{
                background-attachment: unset;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}
#pdSearch{
    display: block;
    margin: 0 auto;
    float: none;
    text-align: left;
    .row{
        margin: 0;
    }
    div[class^="col"]{
        margin-top: 18px;
    }
    label{
        margin-bottom: 2px;
        font-weight: 400;
        color: #a6a8ab;
    }
    .light-lead-heading{
        color: #fff;
        font-size: 3.5em;
        margin-bottom: 25px;
    }
    input, select{
        font-size: 1.4em;
        height: 40px;
        margin: 0;
        background: none;
        color: rgba(255,255,255,0.8);
        width: 100%!important;
        line-height: 40px;
        border: 1px solid #665f5e;
        &:focus{
            border: 1px solid #665f5e;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgba(126, 239, 104, 0.6);
            outline: 0 none;
        }
    }
    input[type="date"]::-webkit-inner-spin-button { 
        display: none; 
    }
    input[type="date"]::-webkit-calendar-picker-indicator{
        background: none;
    }
    span{
        color: #fff;
        font-size: 1.4em;
        a{
            color: #fff;
            text-decoration: underline;
        }
        &.small-text{
            font-size: 1.2em;
            display: block;
        }
    }
    .accent-btn{
        float: none!important;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 4px;
        background-color: @bright-blue;
        border-width: 0px !important;
        color: #fff!important;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        font-family: 'Roboto';
        padding: 15px 45px;
        &:hover{
            color: #fff;
            opacity: 0.9;
            cursor: pointer;
        }
        i{
            margin-right: 5px;
        }
    }
    .align-right{
        text-align: right;
    }
    textarea, select, input{
        border: 1px solid #665f5e;
        padding: 8px 15px;
    }
}

.content{
    .chosen-container-multi{
        .chosen-choices{
            background: none;
            border: 1px solid #665f5e;
            padding: 0;
            background-image: none;
            li.search-choice{
                background: rgba(58, 60, 60,0.8);
                background-color: rgba(0,0,0,0);
                margin: 8px;
                &:active {
                    outline: none;
                    border: none;
                    }
                .search-choice-close{
                    opacity: 0.5;
                    position: absolute;
                    z-index: 9999;
                    right: 2px;
                    width: 15px;
                    height: 15px;
                    top: 2px;
                    cursor: pointer;
                    background-repeat:no-repeat;
                    background-size:contain;
                    background-position:center;
                    background-image:url('/sites/default/files/dashboard-icon/close-icon.png');
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


.ui-dialog{
    #registerPDUser{
        label{
            font-weight: 600!important;
            padding-bottom: 6px;
        }
        .accent-btn{
            float: none!important;
            display: inline-block;
            margin-bottom: 20px;
            margin-top: 4px;
            background-color: @bright-blue;
            border-width: 0px !important;
            color: #fff!important;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            font-family: 'Roboto';
            padding: 15px 45px;
            &:hover{
                color: #fff;
                opacity: 0.9;
                cursor: pointer;
            }
            i{
                margin-right: 5px;
            }
        }
        .styled-checkbox {
            position: absolute; // take it out of document flow
            opacity: 0; // hide it
          
            & + label {
              position: relative;
              cursor: pointer;
              padding: 0;
            }
          
            // Box.
            & + label:before {
              content: '';
              margin-right: 20px;
              display: inline-block;
              vertical-align: text-top;
              width: 20px;
              height: 20px;
              background: none;
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
            }
          
            // Box hover
            &:hover + label:before {
              background: none;
            }
          
            // Box checked
            &:checked + label:before {
              background: none;
            }
            
            // Disabled state label.
            &:disabled + label {
              color: #b8b8b8;
              cursor: auto;
            }
          
            // Disabled box.
            &:disabled + label:before {
              box-shadow: none;
              background: #fff;
            }
          
            // Checkmark. Could be replaced with an image
            &:checked + label:after {
              content: '';
              position: absolute;
              left: 5px;
              top: 10px;
              background: #000;
              width: 2px;
              height: 2px;
              box-shadow: 
                2px 0 0 #000,
                4px 0 0 #000,
                4px -2px 0 #000,
                4px -4px 0 #000,
                4px -6px 0 #000,
                4px -8px 0 #000;
              transform: rotate(45deg);
            }
        }
    }
}

body.page-node{
    #section-content-top{
        .container{
            .row{
                .region-content-top{
                    @media all and (max-width: @larger-desktop-width){
                        padding: 0 50px;
                    }
                    @media all and (max-width: @tablet-width){
                        padding: 0 25px;
                    }

                    #pd-search-results{
                        .flex-cell{
                            position: relative;
                        }
                        .pd-action{

                        }
                        @media all and (max-width: @larger-tablet-width){
                            
                        }
                        @media all and (max-width: @tablet-width){
                            
                        }
                    }
                }
            }
        }

    }
}


/*----------------PREDEFINED COLORS-------------------*/
@blue: #009fda;


/*----------------PD SEARCH RESULT-------------------*/
#block-block-240{
    padding: 50px 0px 80px!important;
}

#section-content-top .container{
    width: 100%;
    max-width: 1500px;
    .row #block-block-241{
        .content{
            display: block;
            width: 100%;
            margin: 0 auto;
            .light-lead-heading{
                color: @blue;
                font-size: 3.5em;
                margin-bottom: 25px;
                font-weight: 400;
            }
            .pager{
                text-align: left;
                a, div{
                    color: #000;
                    padding: 0 5px;
                }
                .Pagebutton{
                    font-size: 1.2em;
                    display: inline;
                }
            }
            .pageSetting{
                margin: 20px 0;
                text-align: right;
                display: inline-block;
                width: 50%;
                p, select{
                    display: inline;
                    margin: 0;
                    font-size: 1.2em;
                }
                select{
                    border: none;
                    background: none;
                    color: #000;
                }
            }
            .pageItem{
                margin: 20px 0;
                text-align: right;
                display: inline-block;
                width: 49%;
                p{
                    margin: 0;
                    span{
                        padding: 0 3px;
                    }
                }
            }
            .align-center{
                text-align: center;
            }
            .align-right{
                text-align: right;
            }
            .flex-container{
                .flex-cell{
                    border-bottom: 1px solid #d3d4d5;
                    padding: 20px 0;
                    font-size: 1.2em;
                    color: #000;
                    div[class^="flex-col"]{
                        text-align: center;
                    }
                    div[class^="flex-col"]:nth-child(1){
                        text-align: left;
                    }
                    &.heading-row{
                        border-top: 1px solid #d3d4d5;
                        padding: 10px 0;
                        align-items: center;
                        .table-heading{
                            font-size: 0.8em;
                            font-weight: 500;
                            color: #000;
                            text-transform: uppercase;
                        }
                    }
                    .title{
                        display: block;
                        font-weight: 600;
                        a{
                            color: #000;
                        }
                    }
                    .excerpt{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        line-height: 16px;
                        max-height: 43px;
                        p{
                            margin: 0;
                        }
                        br, strong, div{
                            display: none;

                        }
                    }
                    .readmore{
                        display: block;
                        font-weight: 600;
                        a{
                            color: @blue;
                        }
                    }
                }
            }
            .pd-status{
                a{
                    display: flex;
                    flex-direction: column;
                }
                span{
                    font-weight: 400;
                    color: #5e5f67;
                    margin-top: 5px;
                }
            }
        }
    }
}

/*----------------PD PAGES-------------------*/
#block-system-main{
    .content{
        .node{
            .post-content{
                margin: 0;
                padding-top: 50px;
            }
            .region{
                .light-lead-heading{
                    color: @blue;
                    font-size: 3.5em;
                    margin-bottom: 25px;
                    font-weight: 500;
                    line-height: 1em;
                }
                .sub-title{
                    font-family: 'Roboto';
                    font-size: 1.4em;
                    color: @blue;
                }
                .blue-heading{
                    color: @blue;
                    font-family: 'Roboto';
                    font-size: 2em;
                    font-weight: 700;

                }
                .left-icon{
                    max-width: 70px;
                }
                .large-icon{
                    width: 40px;
                    height: 40px;
                    margin: 0 10px 0 0;
                    display: block;
                    float: left;
                    background-repeat:no-repeat;
                    background-size:contain;
                    background-position:center;
                }
                .learning-outcome-icon{
                    background-image:url('/sites/default/files/dashboard-icon/learning-B.png');
                }
                .prerequiresite-icon{
                    background-image:url('/sites/default/files/dashboard-icon/prerequiresites-B.png');
                }
                .presenters-bio-icon{
                    background-image:url('/sites/default/files/dashboard-icon/presenters-B.png');
                }
                .section{
                    padding-bottom: 36px;
                }
            }
            .region-right-sidebar{
                .top-banner{
                    width: 100%;
                    height: 200px;
                    border-bottom: 5px solid #ffa02f;
                    position: relative;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    .pd-type{
                        position: absolute;
                        bottom: 0;
                        background: #ffa02f;
                        color: #fff;
                        padding: 10px 30px 5px 30px;
                        font-size: 1em;
                        text-transform: uppercase;
                        font-family: 'Cairo';
                        letter-spacing: 2px;
                        font-weight: 400;
                    }
                }
                .lecture-featured-image{
                    background: url('/sites/default/files/pd-featured-images/lecture-image.png') no-repeat center center;
                }
                .session-info{
                    .session-calendar{
                        background: @blue;
                        padding: 30px 30px 15px 30px;
                        .session-date{
                            padding-left: 10px;
                            font-size: 1.4em;
                            font-family: 'Cairo';
                            color: #fff;
                            font-weight: 700;
                            display: block;
                            .weekdate{
                                display: block;
                            }
                            .month-date{
                                display: block;
                            }
                        }
                        .session-time{
                            font-size: 1.1em;
                            font-family: Roboto;
                            color: #fff;
                            font-weight: 400;
                            padding: 15px 0 5px 0;
                            display: block;
                        }
                    }
                    .session-address{
                        background: @blue;
                        padding: 0px 30px 30px 30px;
                        color: #fff;
                        font-size: 1.2em;
                        font-weight: 400;
                        a{
                            color: #fff;
                            text-decoration: underline;
                            display: block;
                            &:hover{
                                color: #fff;
                            }
                        }
                        .address{
                            padding-left: 10px;
                            display: block;
                        }
                    }
                }
                .session-register-info{
                    background: @blue;
                    padding: 30px;
                    border-top: 1px solid #fff;
                    font-family: Roboto;
                    font-size: 1.2em;
                    color: #fff;
                    .small-heading{
                        display: block;
                        font-weight: 500;
                        padding-top: 10px;
                        &:nth-child(1){
                            padding-top: 0;
                        }
                    .cross-price{
                        color: rgba(255,255,255,0.7);
                    }
                    }
                    #login{
                        background: @blue;
                        color: #fff;
                        border: 1px solid #fff;
                        padding: 15px 0px;
                        text-align: center;
                        display: block;
                        margin-top: 15px;
                        font-family: Roboto;
                        text-transform: uppercase;
                        transition: 0.1s linear;
                        cursor: pointer;
                        &:hover{
                            background: #fff;
                            color: @blue;
                        }
                    }
                }
                .session-cta{
                    padding: 40px 30px;
                    background: #009fda;
                    border-top: 1px solid #fff;
                    font-family: Roboto;
                    .add-to-wishlist{
                        background: #c3c8c8;
                        color: #fff;
                        display: block;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 1.2em;
                        cursor: pointer;
                    }
                    .add-to-card{
                        background: #ffa02f;
                        color: #fff;
                        display: block;
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 1.2em;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                    span{
                        padding: 15px 20px;
                        display: block;
                    }
                    a:hover{
                        opacity: 0.9;
                    }
                }
                .extra-info{
                    font-family: Roboto;
                    padding: 30px 0;
                    font-weight: 500;
                    font-size: 1.2em;
                    span{
                        display: block;
                        padding-bottom: 15px;
                    }
                }
                .calendar-icon{
                    width: 100%;
                    height: 50px;
                    margin: 0 10px 0 0;
                    display: block;
                    float: left;
                    position: relative;
                    background-repeat:no-repeat;
                    background-size:contain;
                    background-position:center;
                    background-image:url('/sites/default/files/dashboard-icon/calendar-W.png');
                    .calendar-date{
                        position: absolute;
                        color: #fff;
                        font-size: 1.2em;
                        font-weight: 900;
                        top: 40%;
                        left: 49%;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }
                }
                .address-icon{
                    width: 40px;
                    height: 40px;
                    margin: 0 10px 0 0;
                    display: block;
                    float: left;
                    background-repeat:no-repeat;
                    background-size:contain;
                    background-position:center;
                    background-image:url('/sites/default/files/dashboard-icon/location-W.png');
                }
            }
        }
    }
    p{
        line-height: 20px;
        margin: 0;
        margin-bottom: 10px!important;
        font-size: 1.2em;
        color: black;
    }
}


#block-block-240 .form-control{
    background-color:transparent!important;
	border: 1px solid white!important;
}

#block-block-241 table th{
    background-color: #5E6167;
	color: white;
    border: 1px solid #ccc!important;
    font-weight: normal!important;
}
#node-250 table th, #node-251 table th{
    color: #009fda;
    border: 1px solid #ccc!important;
    font-weight: normal!important;
}
#block-block-241 table tr:nth-child(even){
    background-color:rgba(195,200,200,0.5);
}
#block-block-241 td, #block-block-241 th{
    padding: 10px!important;
    border-right: 1px solid white;
}
#node-250 td, #node-250 th, #node-251 td, #node-251 th{
    padding: 10px!important;
    border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    color: #004250;
}
#node-250 table tr td:nth-child(1), #node-251 table tr td:nth-child(1){
    border-left: 1px solid #ccc;
}
.scleft {
    margin-top: 16px;
	padding:0;
}
.scleft p {
    color: #004250;
    font-weight: 400;
}
.scright p {
    color: #004250;
    font-weight: 400;
}
.scleft label{
    font-weight:400!important;
	width: 90%;
}
.scleft p:nth-child(1) {
    color: #009fda!important;
}
.scright {
    margin-top: 16px;
	padding-right:0;
}
.scright p:nth-child(1) {
    color: #009fda !important;
}
.shopCartButton {
    width: 150px!important;
    color: white;
    margin: 20px 5px 36px 0;
    height: 35px!important;
}
#accept1{
    margin-left:32px!important;
	position: absolute;
}
#accept2{
    margin-left: 32px!important;
	position: absolute;
}
#accept3{
    margin-left: 32px!important;
	position: absolute;
}
#node-250 table i.fa, #node-251 table i.fa{
    margin-left:8px;
}
div[id^="myCart"] .modal-dialog{
    border:none!important;
}
div[id^="myCart"] .modal-body{
    margin-top: -140px;
}
div[id^="myCart"] .modal-body h3{
    padding-left:27px;
	
}
div[id^="myCart"] .modal-body a.addCartlink{
    margin-left: 42px; 
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}

.searchds a {
    color: white;
   
    text-decoration: underline;
}
.pdSearchButton{
    float:right;
}
#node-249 .region div {
    padding: 0;
	
}
.detailContent div{
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
	height:140px;
}

.detailContent div:nth-child(odd) {
    border-left: 1px solid lightgray;
}
.detailContent div:nth-child(2) {
    border-top: 1px solid lightgray;
}
.detailContent div:nth-child(1) {
    border-top: 1px solid lightgray;
}
#tabpd  li{
        width: 33%;
}
#tabpd{
    border-bottom:none!important;
	
}
#tabpd li a {
    color: #004250;
    font-weight: 600;
    background-color: lightgray;
    padding-left: 26%;
}
#tabpd li.active a {
    background-color: rgba(137,159,153,0.2)!important;
}
#node-249 .fade.in{
    background-color: rgba(137,159,153,0.2);
    margin-top: 0px !important;
	margin-bottom:35px;
    width: 99%;
	padding:15px;
}
.detailContent p,.detailContent h3  {
    margin-left: 10px;
	margin-bottom: 10px;
}

div#block-block-241 a:not(.btn) i {
    color: #5E6167;
}
.addCartButton{
    float:left;
	color: white;
}
.detailContent a.addCartlink {
   
    color: white!important;
}
#node-249 .modal.fade.in {
    margin-top: 6%!important;
    margin-left: -14%;
    background-color: transparent;
    width: 122%;
    height: 100%;
    overflow-y: hidden!important;
 
}
#node-249 .modal-content{
    border:none!important;
	border-radius:0px!important;
	width:107%;
}
#node-249 div[id^='down'] {
    border: 1px solid lightgray;
    background-color: rgba(137,159,153,0.2);
    color: #004250;
	padding-bottom: 22px;
    padding-top: 10px;
}
#node-249 .open{
    float:right;
}
#node-249 .close{
    opacity: 0.5!important;
	font-size: 16px!important;
	line-height:2;
}
#login .btn{
    float:right;
}
#login .modal-header{
    border-bottom:none!important;
}
#login .modal-body{
    padding-bottom:40px!important;
}
input[value="Sign in"], input[value="Submit"], input[value="Next"]{
    float: right;
    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #009fda;
    text-align: center;
    color: white;
}
#registerMember .submitMember{
    float: right;
    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #009fda;
    text-align: center;
    color: white; 
	border:none;
}
#login a.signIn:hover, #node-254 a.signIn:hover{
    color:white!important;
}
#node-254 a.signIn{
    margin-bottom: 20px;
}
#registerMember h4.modal-title,  #registerPDUser h4.modal-title, #loginPopWindow h4.modal-title, #signupWebUser h4.modal-title{
    color: #009fda;
    font-weight: 400;
	margin-bottom: -10px;
}
#registerMember h4.modal-title, #signupWebUser h4.modal-title{
    margin-bottom: 11px;
    margin-left: 13px;
}
#registerMember .modal-header, #signupWebUser .modal-header{
    border-bottom: none!important;
}
#registerMember .form-control,  #registerPDUser .form-control,  #signupWebUser .form-control{
    border-radius: 0px!important;
    margin-bottom: 10px;
}
#registerMember input[type=checkbox],  #registerPDUser input[type=checkbox]{
    margin-right: 3px;
}
#registerMember label,  #registerPDUser label,  #signupWebUser label{
    font-weight: 400;
}
.registerDes{
    color: #009fda;
    font-weight: 400;
    font-size: 20px;
    margin-left: 12px;
}
#registerMember .modal-content, #signupWebUser .modal-content,{
    border:none!important;
	border-radius:0px;
}
#registerMember #Confirm-policy{
    margin-left:6px;
}
#registerMember .payment-line,  #registerPDUser .payment-line{
    border-top: 1px solid lightgray!important;
    margin-top: 13px;
    padding-top: 8px;
}
div[id="jobnoticement"], div[id="processWindow"], div[id="registerPDUser"], div[id="popUpWindow"], div[id="deleteConfirmwindow"], div[id="registerMember"], div[id="loginPopWindow"],div[id="myMap"], div[id="signupWebUser"]{
    display:none;
}
div[aria-describedby="registerPDUser"].ui-dialog {
    z-index: 1050!important;
    left: 25%!important;
	width: 620px!important;
	
}
div[aria-describedby="popUpWindow"].ui-dialog {
    z-index: 1053!important;
    left: 36%!important;
	width: 309px!important;
	
}
div[aria-describedby="jobnoticement"].ui-dialog {
    z-index: 1051!important;
    left: 27%!important;
	width: 549px!important;
	
}
div[aria-describedby="myMap"].ui-dialog {
    z-index: 1051!important;
    left: 27%!important;
	width: 634px!important;
	
}
div[aria-describedby="loginPopWindow"].ui-dialog {
    z-index: 1054!important;
    
	width: 395px!important;
	top: 574px!important;
    left: 537px!important;
}
div[aria-describedby="registerMember"].ui-dialog, div[aria-describedby="signupWebUser"].ui-dialog{
    z-index: 1055!important;
    top: 400px!important;
    left: 425px!important;
	width: 620px!important;
	
}
div[aria-describedby="deleteConfirmwindow"].ui-dialog {
    z-index: 1051!important;
    left: 27%!important;
	width: 350px!important;
	
}
div[aria-describedby="processWindow"]{
    width:351px!important;
	left:578px!important;
}
div[aria-describedby="processWindow"].ui-dialog {
    z-index: 1052!important;
    left: 30%!important;
	width: 350px!important;
	
}
a#createAccount {
    color: #009FDA;
}
#processWindow h3, #popUpWindow h3, #deleteConfirmwindow h3{
    color: #009fda;
}
div[aria-describedby="jobnoticement"] .ui-widget-header, div[aria-describedby="registerPDUser"] .ui-widget-header, div[aria-describedby="processWindow"] .ui-widget-header, div[aria-describedby="popUpWindow"] .ui-widget-header, div[aria-describedby="deleteConfirmwindow"] .ui-widget-header, div[aria-describedby="registerMember"] .ui-widget-header, div[aria-describedby="loginPopWindow"] .ui-widget-header, div[aria-describedby="myMap"] .ui-widget-header{
    border:none!important;
	background-color:white!important;
	
}
 div[aria-describedby="registerPDUser"] .ui-dialog-content, div[aria-describedby="registerMember"] .ui-dialog-content{
    overflow:hidden!important;
}
div[aria-describedby="jobnoticement"] .registerDes{
    margin-left:0px!important;
}
#node-249 div#registerMember{
    margin-left: -13%!important;
}
#node-249 div#registerMember .modal-dialog{
    overflow-x: hidden;
	width:29%;
}
#node-249 div#registerMember .modal-content{
    width:653px;
}
#node-255 .dashboard-button,#node-256 .dashboard-button {
    width: 165px;
    margin-bottom: 30px;
    height: 42px;
    color: white;
}
.paymentsiderbar{
    border:1px solid rgba(137,159,153,0.2);
	background-color:rgba(137,159,153,0.2);
	padding: 15px;
}
.paymentsidecredit {
    background: white;
    padding: 0px;
	margin-top: -9px;
	margin-bottom: 10px;
	color: #004250;
}
.paymentsidecredit .ui-selectmenu-button.ui-button {
    width: 100%;
    background-color: white;
}
.paymentsideuse input {
    margin-right: 7px;
}
.paymentsideuse label{
    font-weight: 400;
}
.paymentsideuse label a {
    color: #004250;
}
.paymentsideuse .row {
    margin-bottom: 2px;
}
.paymentsiderbar .paymentsideuse .dashboard-button{
    width: 108px;
	float: right;
    color: white;
	padding-right: 20px;
}
.paymentsiderbar .dashboard-button{
    width: 92px;
	height: 36px;
    margin-left: -29px;
    color: white;
}
.discountcode{
    margin-top: -10px;
    margin-bottom: 10px;
}
.paymentsiderbar table{
    width:252px;
}
.paymentsiderbar table td:nth-child(odd){
    border-right:none!important;

}
.paymentsiderbar table td:nth-child(even) {
    text-align: right;
}

.ordersummary span{

	color:#009fda;
}
.ordersummary div:nth-child(1){
    padding-top:10px;
}
.placeorder{
    width: 252px;
    border: none;
    background: #009fda;
    color: white;
    height: 36px;

}
.sidebardis{
    color: #009fda;
}
input[name="otherjob"]{
    border:1px solid #ccc;
	width:100%;
}
.resultMobile{
    display:none;
}

#block-block-241 .pageItem p {
    color: #004250 !important;
}
#block-block-241 .pageItem .pageItemDes{
    padding:0 1px;
}
#block-block-241 .pageSettingBottom p {
    margin-left: 72%;
    margin-top: 3%;
    color: #004250 !important;
}
#block-block-241 .pageSettingBottom select#pagesizebottom {
    margin-left: 80%!important;
	margin-top: -42px;
}
#block-block-241 .pageItemBottom {
    width: 50%;
    margin-left: 85%;
    margin-top: -29px;
    margin-bottom: 8px;
}
#block-block-241 .pageItemBottom p {
    color: #004250 !important;
}
#block-block-241 .pageItemBottom span.pageItemDes {
    padding: 0 1px;
}
form#registerMemberForm .error, form#updatePaymentForm .error{
    color: red;
}

input[name="Couponcode"]::-webkit-input-placeholder {
  color: black!important;
  
}
input[name="Couponcode"]{
  border: 1px solid lightgray;
}
.greenprice{
  text-decoration: line-through;
  color: rgba(255,255,255,0.6);
}
.redprice{
  text-decoration: line-through;
  color: #920075;
}
.locationAutomatic, .locationManual {
	float: left;
	transition: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
	transition-timing-function: cubic-bezier(0.2,0.5,0.7,0.9);
}
.locationAutomatic {
	width: 5%;
	height: 35px;
	align-items: left;
	text-align: left;
	overflow: hidden;
}
.locationManual {
	width: 95%;
}
.locationAutomatic .UseLocation {
	width: 100%;
	float: left;
	position: relative;
	height: 27px;
	margin-top: 9px;
}
.locationAutomatic span {
	margin-left: 5px;
}
.locationAutomatic:hover, .locationAutomaticHov {
	width: 20%;
}
.locationAutomatic:hover ~ .locationManual, .locationManualHov {
	width: 80%;
}
.locationAutomaticHov span {
	color: white;
}