/* --------------------------------------------------------- */
/* ------------------ PD shopping cart --------------------- */
/* --------------------------------------------------------- */
fieldset {
  border: 0;
}
/* select with custom icons */
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
  padding: 0.5em 0 0.5em 3em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
  height: 24px;
  width: 24px;
  top: 0.1em;
}
.ui-icon.Master{
  background: url("/sites/default/files/logo_apa_0.png") 0 0 no-repeat;
}
.ui-icon.Visa{
  background: url("/sites/default/files/logo_apa_0.png") 0 0 no-repeat;
}
.ui-icon.AE{
  background: url("/sites/default/files/logo_apa_0.png") 0 0 no-repeat;
}

/*--PREDEFINED COLOURS--*/
@light-background: rgb(242, 243, 244);
@light-transparent-background: rgba(255, 255, 255, 0.9);
@dark-background: rgb(94, 96, 103);
@dark-transparent-background: rgba(94, 96, 103, 0.8);
@bright-blue: rgb(0, 159, 218);
@brighter-blue: rgb(0,184,241);

/*--RESPONSIVE BREAKPOINTS--*/
@phone-width: 480px;
@larger-phone-width: 570px;
@tablet-width: 768px;
@larger-tablet-width: 992px;
@desktop-width: 1200px;
@larger-desktop-width: 1500px;

#section-main-content{
  .container{
    .region{
      .content{
        .bottom-buttons{
          text-align: center;
          margin-top: 30px;
          a.addCartlink{
            button{
              text-transform: unset;
            }
          }
        }
        #pd-shopping-cart{
          div[class^="flex-col-"]{
            padding: 0px 5px;
            font-size: 1em;
          }
          .heading-row{
            border-top: 1px solid #d3d4d5;
            padding: 10px 0!important;
            align-items: center;
          }
          .flex-cell{
            position: relative;
            transition: 0.1s linear;
            background: none;
            border-bottom: 1px solid #d3d4d5;
            padding: 20px 0;
            font-size: 1.2em;
            color: #000;
          }
          .table-heading{
            font-size: 0.8em;
            font-weight: 500;
            color: #000;
            text-transform: uppercase;
          }
          .pd-spcart-date{
            display: flex;
            flex-direction:column;
            .start-date:before{
              content: 'Start date: ';
              color: @brighter-blue;
            }
            .end-date:before{
              content: 'End date: ';
              color: @brighter-blue;
            }
          }
          .pd-spcart-location{
            text-align: right;
          }
          .pd-spcart-price{
            text-align: center;
          }
          .pd-spcart-delete{
            justify-content: center;
            display: flex;
            align-items: center;
            a{
              i{
                color: #ffa02e;
              }
            }
          }
          .pd-spcart-wishlist{
            a{
              color: @brighter-blue;
            }
          }
        }

        .left-content{
          padding-left: 15px;
          @media @tablet-width-down{
            padding: 0 30px;
          }
          @media all and (max-width: 345px){
            padding: 0 0px;
          }
          label{
            font-weight: 300;
            color: #000;
          }
          .diet-name{
            font-size: 1.1em;
            color: #000;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &:before{
              content: '';
              width: 6px;
              height: 6px;
              border-radius: 100%;
              background: #000;
              position: relative;
              display: block;
              float: left;
              margin-right: 10px;
            }
          }
          @media all and (max-width: @tablet-width) {
            width: 100%;
          }
        }
        .right-sidebar{
          padding-left: 4%;
        }
        .dashboard-button{
          &:hover{
            opacity: 0.8;
          }
        }
      }

      .paymentsiderbar{
        background-color: rgba(137,159,153,0.1);
        border: 0;
        span.sidebardis{
          color: #000;
          font-weight: 400;
          padding-bottom: 10px;
          display: block;
          font-size: 16px;
        }

        .tooltip-container{
          margin-bottom: 20px;
        }
        #anothercardBlock{
          .tooltip-container{
            padding: 0 15px;
            .tooltip-content{
              margin-right: 15px;
            }
          }
        }

        span.blue-sidebardis{
          color: #009fda;
          font-size: 16px;
          font-weight: 400;
          text-align: left;
          display: block;
          padding-bottom: 20px;
        }
        .addCartlink{
          .dashboard-button{
            color: white;
            margin: 0;
            width: auto;
            height: auto;
            padding: 9px 25px;
            margin: 20px 0 0 10px;
            display: block;
            &:hover{
              opacity: 0.8;
            }
          }
        }
        .paymentsideuse{
          padding: 5px 0 10px 0;
          .tooltip-container{
                margin-top: 0px;
                margin-bottom: 15px;
          }
          label{
            font-weight: 300;
            color: #000;
            margin: 5px 0;
            a{
              color: #000;
              font-weight: 300;
              &:hover{
                color: #000;
                font-weight: 300;
              }
            }
          }
          .extra-card{
            float: left;
            margin-bottom: 20px;
            form{
              .row{
                background: #f3f5f5;
              }
              input{
                background: #fff;
              }
            }
          }
        }
        
        .chevron-select-box{
          position: relative;
          select{
              -webkit-appearance: none;
              min-height: 48px;
              width: 100%;
              padding-left: 10px;
              background: none!important;
              padding-right: 30px;
              &::-ms-expand {
                display: none;
              }
          }
          &::after{
            content: '';
            font-family: 'fontawesome';
            color: #c3c8c8;
            position: absolute;
            top: calc(~'50% - 7.5px');
            right: 10px;
            width: 15px;
            height: 15px;
            z-index: 0;
            background-image: url(/sites/default/files/general-icon/chevron-lg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(90deg);
          }
          &.chevron-adjust{
              &::after{
                  top: 27%;
              }
          }
      }

        #discount{
          display: flex;
          flex-direction: row;
          width: 100%;
          flex-wrap: wrap;
          .dashboard-button{
            color: white;
            margin: 0;
            width: auto;
            height: auto;
            padding: 9px 25px;
            margin-left: 10px;
            display: block;
            width: 60%;
            @media all and (max-width: 1253px) {
              margin-left: 0;
            }
            @media all and (max-width: @desktop-width) and (min-width: @larger-tablet-width + 1) {
              margin-left: 0;
            }
            @media all and (max-width: @larger-tablet-width) {
              margin-left: 10px;
            }
            &:hover{
              opacity: 0.8;
            }
          }
        }

        .pd-spcart-order{
          color: #000;
          margin-bottom: 25px;
          .flex-cell:last-child{
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid rgba(0,0,0,0.12);
          }
        }

        .placeorder{
          width: 100%!important;
          &:hover{
            opacity: 0.8;
          }
        }
      }
      
.paymentsiderbar{
  /* OTHER CARD FORM */
#apa-create-payment-card-form{
  input.form-submit{
    background: @bright-blue;
  }
}

  .bottom-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    button{
      margin: 10px 0!important;
      min-width: 181px;
    }
  }
  & + .bottom-buttons{
    justify-content: flex-start!important;
  }
  .tooltip-container{
    margin-top: 0;
    margin-block-end: 15px;
  }
}

/*------------- NO ITEMS IN CART -----------------*/
#node-250{
  .bottom-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  h3.light-lead-heading{
    color: @blue;
    font-size: 3.5em;
    margin-bottom: 25px;
    font-weight: 400;
  }
  .no-item-title{
    margin: 10vh 0 3vh 0;
  }
  .pd-featured{
    margin: 10vh 0 5vh 0;
    position: relative;
    float: left;
    justify-content: center;
    img{
      margin: 0 auto;
    }
  }
}

/*------------- FAIL PURCHASE -----------------*/
#node-255{
  .fail-purchase{
    .flex-cell{
      justify-content: center;
    }
  }
  .sub-text{
    text-align: center;
    h3.light-lead-heading{
      margin: 0;
      font-size: 2em;
      a{
        color: #009fda;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
  h3.light-lead-heading{
    color: @blue;
    font-size: 3.5em;
    font-weight: 400;
    max-width: 600px;
  }
  .fail-purchase-title{
    margin: 10vh 0 3vh 0;
  }
  .featured{
    margin: 10vh 0 5vh 0;
    position: relative;
    float: left;
    justify-content: center;
  }
}


      .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
      
        & + label {
          position: relative;
          cursor: pointer;
          padding-left: 40px;
          text-align: left;
            &:before{
              margin-left: -40px;
            }
        }
      
        // Box.
        & + label:before {
          content: '';
          margin-right: 20px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          min-width: 20px;
          height: 20px;
          background: none;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
        }
      
        // Box hover
        &:hover + label:before {
          background: none;
        }
      
        // Box checked
        &:checked + label:before {
          background: none;
        }
        
        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }
      
        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #fff;
        }
      
        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 10px;
          background: #000;
          width: 2px;
          height: 2px;
          box-shadow: 
            2px 0 0 #000,
            4px 0 0 #000,
            4px -2px 0 #000,
            4px -4px 0 #000,
            4px -6px 0 #000,
            4px -8px 0 #000;
          transform: rotate(45deg);
        }
      }

      .small-lead-heading{
        font-size: 18px;
        font-weight: 400;
        margin: 10px 0;
      }
      .note-text{
        font-weight: 400;
        color: rgba(0,0,0,0.6);
      }
    }
  }
}

//MOBILE VERSION
#section-main-content{
  .chevron-select-box{
    background: #fff;
  }
  .container{
    .region{
      .content{
        #pd-shopping-cart{
          .mobile-visible{
            display: none;
            @media all and (max-width: @tablet-width) {
              display: inline-block;
              font-weight: 400;
              padding-right: 5px;
            }
          }
          @media all and (max-width: @tablet-width) {
            flex-direction: column;
            .heading-row{
              display: none;
            }
            div[class^="flex-col-"]{
              width: 100%;
              text-align: left;
            }
            .pd-spcart-date{
              .start-date:before, .end-date:before{
                color: #000;
                font-weight: 400;
              }
            }
            .pd-spcart-wishlist{
              a{
                background: #c3c8c8;
                color: #fff;
                display: inline-block;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.2em;
                cursor: pointer;
                padding: 5px 10px;
                margin-top: 20px;
              }
            }
            .pd-spcart-delete{
              justify-content: flex-start;
              a{
                position: relative;
                margin-top: 20px;
                text-decoration: underline;
                &:after{
                  content: 'Delete';
                  padding: 5px 10px;
                }
                i{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*--PD WISHLIST--*/

#wishlist{
  .heading-row{
    border-top: 1px solid #d3d4d5;
    padding: 10px 0;
    align-items: center;
    &:hover {
      background: rgba(0,0,0,0)!important;
    }
    .table-heading{
      font-size: 0.8em;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;
    }
  }
  .flex-cell{
    position: relative;
    transition: 0.1s linear;
    background: none;
    border-bottom: 1px solid #d3d4d5;
    padding: 20px 0;
    font-size: 1.2em;
    color: #000;
    align-items: center;
    &:hover {
      background: rgba(0,0,0,0.02);
    }
    .price-col{
      text-align: right;
      padding-right: 10px;
    }
    .action-col{
      padding-left: 10px;
    }
    .delete-col{
      text-align: center;
      a{
        i{
          color: rgba(255, 0, 0, 0.5);
          transition: 0.2s linear;
        }
        &:hover{
          i{
            color: rgba(255, 0, 0, 1);
          }
        }
      }
    }
  }
}

/*--END PD WISHLIST--*/
