# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
log/*
tmp/
sites/Log/*
tmp/*

# Untrack of htaccess file
.htaccess

# Untrack of json files
sites/all/themes/evolve/json/*

# Untrack local history
.history

# Untrack of Tracking file from Web Prophet
sucuri-2a5edef6774431aa428b7438a7f77dd7.php